<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_ChengZhangRenWu01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,70}</string>
                <key>spriteSourceSize</key>
                <string>{251,70}</string>
                <key>textureRect</key>
                <string>{{992,142},{251,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ChengZhangRenWu01__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,70}</string>
                <key>spriteSourceSize</key>
                <string>{251,70}</string>
                <key>textureRect</key>
                <string>{{1244,142},{251,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ChengZhangRenWu02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,66}</string>
                <key>spriteSourceSize</key>
                <string>{247,66}</string>
                <key>textureRect</key>
                <string>{{973,75},{247,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ChengZhangRenWu02__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,66}</string>
                <key>spriteSourceSize</key>
                <string>{247,66}</string>
                <key>textureRect</key>
                <string>{{1221,75},{247,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_HuoDongRenWu01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,70}</string>
                <key>spriteSourceSize</key>
                <string>{251,70}</string>
                <key>textureRect</key>
                <string>{{1496,142},{251,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_HuoDongRenWu01__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,70}</string>
                <key>spriteSourceSize</key>
                <string>{251,70}</string>
                <key>textureRect</key>
                <string>{{0,213},{251,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_HuoDongRenWu02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,66}</string>
                <key>spriteSourceSize</key>
                <string>{247,66}</string>
                <key>textureRect</key>
                <string>{{1469,75},{247,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_HuoDongRenWu02__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,66}</string>
                <key>spriteSourceSize</key>
                <string>{247,66}</string>
                <key>textureRect</key>
                <string>{{1717,75},{247,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_LingQu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,61}</string>
                <key>spriteSourceSize</key>
                <string>{167,61}</string>
                <key>textureRect</key>
                <string>{{223,75},{167,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_LingQu__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,61}</string>
                <key>spriteSourceSize</key>
                <string>{167,61}</string>
                <key>textureRect</key>
                <string>{{391,75},{167,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_MeiRiRenWu01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,70}</string>
                <key>spriteSourceSize</key>
                <string>{251,70}</string>
                <key>textureRect</key>
                <string>{{252,213},{251,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_MeiRiRenWu01__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,70}</string>
                <key>spriteSourceSize</key>
                <string>{251,70}</string>
                <key>textureRect</key>
                <string>{{504,213},{251,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_MeiRiRenWu02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,66}</string>
                <key>spriteSourceSize</key>
                <string>{247,66}</string>
                <key>textureRect</key>
                <string>{{0,142},{247,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_MeiRiRenWu02__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,66}</string>
                <key>spriteSourceSize</key>
                <string>{247,66}</string>
                <key>textureRect</key>
                <string>{{248,142},{247,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_MeiZhouRenWu01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,70}</string>
                <key>spriteSourceSize</key>
                <string>{251,70}</string>
                <key>textureRect</key>
                <string>{{756,213},{251,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_MeiZhouRenWu01__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,70}</string>
                <key>spriteSourceSize</key>
                <string>{251,70}</string>
                <key>textureRect</key>
                <string>{{1008,213},{251,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_MeiZhouRenWu02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,66}</string>
                <key>spriteSourceSize</key>
                <string>{247,66}</string>
                <key>textureRect</key>
                <string>{{496,142},{247,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_MeiZhouRenWu02__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,66}</string>
                <key>spriteSourceSize</key>
                <string>{247,66}</string>
                <key>textureRect</key>
                <string>{{744,142},{247,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_QuWanCheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,53}</string>
                <key>spriteSourceSize</key>
                <string>{159,53}</string>
                <key>textureRect</key>
                <string>{{1798,21},{159,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_QuWanCheng__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,53}</string>
                <key>spriteSourceSize</key>
                <string>{159,53}</string>
                <key>textureRect</key>
                <string>{{0,75},{159,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_QueDing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,65}</string>
                <key>spriteSourceSize</key>
                <string>{206,65}</string>
                <key>textureRect</key>
                <string>{{559,75},{206,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_QueDing__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,65}</string>
                <key>spriteSourceSize</key>
                <string>{206,65}</string>
                <key>textureRect</key>
                <string>{{766,75},{206,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_BenZhouHuoYueDu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,25}</string>
                <key>spriteSourceSize</key>
                <string>{130,25}</string>
                <key>textureRect</key>
                <string>{{1073,21},{130,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_BenZhouHuoYueDu__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,25}</string>
                <key>spriteSourceSize</key>
                <string>{156,25}</string>
                <key>textureRect</key>
                <string>{{1204,21},{156,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_CaiDai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{601,129}</string>
                <key>spriteSourceSize</key>
                <string>{601,129}</string>
                <key>textureRect</key>
                <string>{{1172,308},{601,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_CaiDai__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{601,129}</string>
                <key>spriteSourceSize</key>
                <string>{601,129}</string>
                <key>textureRect</key>
                <string>{{0,438},{601,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_GongXiHuoDeZi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{367,94}</string>
                <key>spriteSourceSize</key>
                <string>{367,94}</string>
                <key>textureRect</key>
                <string>{{1600,213},{367,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_HuoDeDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{852,369}</string>
                <key>spriteSourceSize</key>
                <string>{852,369}</string>
                <key>textureRect</key>
                <string>{{726,605},{852,369}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_HuoYueTiao01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1072,24}</string>
                <key>spriteSourceSize</key>
                <string>{1072,24}</string>
                <key>textureRect</key>
                <string>{{0,21},{1072,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_HuoYueTiao02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1068,20}</string>
                <key>spriteSourceSize</key>
                <string>{1068,20}</string>
                <key>textureRect</key>
                <string>{{0,0},{1068,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_HuoYueYiLingQu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,60}</string>
                <key>spriteSourceSize</key>
                <string>{62,60}</string>
                <key>textureRect</key>
                <string>{{160,75},{62,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_JinRiHuoYue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,25}</string>
                <key>spriteSourceSize</key>
                <string>{129,25}</string>
                <key>textureRect</key>
                <string>{{1361,21},{129,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_JinRiHuoYue__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,25}</string>
                <key>spriteSourceSize</key>
                <string>{129,25}</string>
                <key>textureRect</key>
                <string>{{1491,21},{129,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_LiHeDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{1512,213},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_RenWuDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1374,166}</string>
                <key>spriteSourceSize</key>
                <string>{1374,166}</string>
                <key>textureRect</key>
                <string>{{602,438},{1374,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_WuPinDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1043,308},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_XiangZi01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,73}</string>
                <key>spriteSourceSize</key>
                <string>{83,73}</string>
                <key>textureRect</key>
                <string>{{1260,213},{83,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_XiangZi02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,73}</string>
                <key>spriteSourceSize</key>
                <string>{83,73}</string>
                <key>textureRect</key>
                <string>{{1344,213},{83,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_XiangZi03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,73}</string>
                <key>spriteSourceSize</key>
                <string>{83,73}</string>
                <key>textureRect</key>
                <string>{{1428,213},{83,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_XiangZiDaKai01empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,103}</string>
                <key>spriteSourceSize</key>
                <string>{105,103}</string>
                <key>textureRect</key>
                <string>{{208,308},{105,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_XiangZiDaKai02empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,101}</string>
                <key>spriteSourceSize</key>
                <string>{105,101}</string>
                <key>textureRect</key>
                <string>{{102,308},{105,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_XiangZiDaKai03empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,100}</string>
                <key>spriteSourceSize</key>
                <string>{101,100}</string>
                <key>textureRect</key>
                <string>{{0,308},{101,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_XinXi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{1694,21},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_XinXiDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{343,111}</string>
                <key>spriteSourceSize</key>
                <string>{343,111}</string>
                <key>textureRect</key>
                <string>{{314,308},{343,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_XingXing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{725,192}</string>
                <key>spriteSourceSize</key>
                <string>{725,192}</string>
                <key>textureRect</key>
                <string>{{0,605},{725,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_YiLIngQu02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,25}</string>
                <key>spriteSourceSize</key>
                <string>{72,25}</string>
                <key>textureRect</key>
                <string>{{1621,21},{72,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_YiLIngQu02__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,32}</string>
                <key>spriteSourceSize</key>
                <string>{76,32}</string>
                <key>textureRect</key>
                <string>{{1721,21},{76,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_YiLingQu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,113}</string>
                <key>spriteSourceSize</key>
                <string>{113,113}</string>
                <key>textureRect</key>
                <string>{{658,308},{113,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_YiLingQu__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,113}</string>
                <key>spriteSourceSize</key>
                <string>{113,113}</string>
                <key>textureRect</key>
                <string>{{772,308},{113,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ZongHuoYueDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,124}</string>
                <key>spriteSourceSize</key>
                <string>{156,124}</string>
                <key>textureRect</key>
                <string>{{886,308},{156,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LobbyTask.png</string>
            <key>size</key>
            <string>{1976,974}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1a8f8c1909aba3e0a2b310e95a7cac0:754c39261f4b18d69d10fdae587bf32f:7184412d18db4b39ec9dd20cb0064e5a$</string>
            <key>textureFileName</key>
            <string>LobbyTask.png</string>
        </dict>
    </dict>
</plist>
