<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cue1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1607,168}</string>
                <key>spriteSourceSize</key>
                <string>{1607,168}</string>
                <key>textureRect</key>
                <string>{{0,0},{1607,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cue2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1607,168}</string>
                <key>spriteSourceSize</key>
                <string>{1607,168}</string>
                <key>textureRect</key>
                <string>{{0,170},{1607,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cue3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1607,168}</string>
                <key>spriteSourceSize</key>
                <string>{1607,168}</string>
                <key>textureRect</key>
                <string>{{0,340},{1607,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cue4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1607,168}</string>
                <key>spriteSourceSize</key>
                <string>{1607,168}</string>
                <key>textureRect</key>
                <string>{{0,510},{1607,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cue5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1607,168}</string>
                <key>spriteSourceSize</key>
                <string>{1607,168}</string>
                <key>textureRect</key>
                <string>{{0,680},{1607,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cue6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1607,168}</string>
                <key>spriteSourceSize</key>
                <string>{1607,168}</string>
                <key>textureRect</key>
                <string>{{0,850},{1607,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LobbyCuePicture.png</string>
            <key>size</key>
            <string>{1607,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88f951c0183723563291618cfbd00703:30ec9e5ac6d35f4ceafcdbbb966828d6:e0e63caa6a52e9308527174d0bd2a86a$</string>
            <key>textureFileName</key>
            <string>LobbyCuePicture.png</string>
        </dict>
    </dict>
</plist>
