<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ben_LvSe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,56}</string>
                <key>spriteSourceSize</key>
                <string>{166,56}</string>
                <key>textureRect</key>
                <string>{{601,55},{166,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_HongSe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,56}</string>
                <key>spriteSourceSize</key>
                <string>{166,56}</string>
                <key>textureRect</key>
                <string>{{767,55},{166,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_LanSe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,56}</string>
                <key>spriteSourceSize</key>
                <string>{166,56}</string>
                <key>textureRect</key>
                <string>{{933,55},{166,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_MianFeiTiaoZhan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,65}</string>
                <key>spriteSourceSize</key>
                <string>{220,65}</string>
                <key>textureRect</key>
                <string>{{1099,55},{220,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_MianFeiTiaoZhan__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,65}</string>
                <key>spriteSourceSize</key>
                <string>{220,65}</string>
                <key>textureRect</key>
                <string>{{1319,55},{220,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,73}</string>
                <key>spriteSourceSize</key>
                <string>{212,73}</string>
                <key>textureRect</key>
                <string>{{1539,55},{212,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_start__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,73}</string>
                <key>spriteSourceSize</key>
                <string>{212,73}</string>
                <key>textureRect</key>
                <string>{{0,128},{212,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>freeReward_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{473,132}</string>
                <key>spriteSourceSize</key>
                <string>{473,132}</string>
                <key>textureRect</key>
                <string>{{577,212},{473,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hitReward.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{786,437},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_CiShuDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{401,0},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_Di01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{838,577}</string>
                <key>spriteSourceSize</key>
                <string>{838,577}</string>
                <key>textureRect</key>
                <string>{{776,739},{838,577}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_DuiHao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,43}</string>
                <key>spriteSourceSize</key>
                <string>{44,43}</string>
                <key>textureRect</key>
                <string>{{566,0},{44,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_HongSeQuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,155}</string>
                <key>spriteSourceSize</key>
                <string>{155,155}</string>
                <key>textureRect</key>
                <string>{{1523,212},{155,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_HuangSeQuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{299,212},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_JiangLiDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{473,132}</string>
                <key>spriteSourceSize</key>
                <string>{473,132}</string>
                <key>textureRect</key>
                <string>{{1050,212},{473,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_JiangLiDi02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,339}</string>
                <key>spriteSourceSize</key>
                <string>{388,339}</string>
                <key>textureRect</key>
                <string>{{0,739},{388,339}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_JiangLiDi03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,339}</string>
                <key>spriteSourceSize</key>
                <string>{388,339}</string>
                <key>textureRect</key>
                <string>{{388,739},{388,339}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_JiangPinDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,74}</string>
                <key>spriteSourceSize</key>
                <string>{337,74}</string>
                <key>textureRect</key>
                <string>{{212,128},{337,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_LanSeQuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,227}</string>
                <key>spriteSourceSize</key>
                <string>{227,227}</string>
                <key>textureRect</key>
                <string>{{0,437},{227,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_NanDuDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,114}</string>
                <key>spriteSourceSize</key>
                <string>{193,114}</string>
                <key>textureRect</key>
                <string>{{384,212},{193,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_TiShiDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,268}</string>
                <key>spriteSourceSize</key>
                <string>{559,268}</string>
                <key>textureRect</key>
                <string>{{227,437},{559,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_TouMing01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,225}</string>
                <key>spriteSourceSize</key>
                <string>{225,225}</string>
                <key>textureRect</key>
                <string>{{1678,212},{225,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_TouMing02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,302}</string>
                <key>spriteSourceSize</key>
                <string>{302,302}</string>
                <key>textureRect</key>
                <string>{{1086,437},{302,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_TouMing03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,302}</string>
                <key>spriteSourceSize</key>
                <string>{302,302}</string>
                <key>textureRect</key>
                <string>{{1388,437},{302,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_Xian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,6}</string>
                <key>spriteSourceSize</key>
                <string>{313,6}</string>
                <key>textureRect</key>
                <string>{{68,0},{313,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_XingYunYiGan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,84}</string>
                <key>spriteSourceSize</key>
                <string>{299,84}</string>
                <key>textureRect</key>
                <string>{{1566,128},{299,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_XingYunYiGan__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,84}</string>
                <key>spriteSourceSize</key>
                <string>{299,84}</string>
                <key>textureRect</key>
                <string>{{0,212},{299,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_YuanDian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{389,0},{12,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_Zi01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{549,55}</string>
                <key>spriteSourceSize</key>
                <string>{549,55}</string>
                <key>textureRect</key>
                <string>{{610,0},{549,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_Zi01__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{705,74}</string>
                <key>spriteSourceSize</key>
                <string>{705,74}</string>
                <key>textureRect</key>
                <string>{{549,128},{705,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_Zi02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{451,55}</string>
                <key>spriteSourceSize</key>
                <string>{451,55}</string>
                <key>textureRect</key>
                <string>{{1159,0},{451,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_Zi02__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{601,55}</string>
                <key>spriteSourceSize</key>
                <string>{601,55}</string>
                <key>textureRect</key>
                <string>{{0,55},{601,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iregret.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,80}</string>
                <key>spriteSourceSize</key>
                <string>{312,80}</string>
                <key>textureRect</key>
                <string>{{1254,128},{312,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>labelbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,35}</string>
                <key>spriteSourceSize</key>
                <string>{141,35}</string>
                <key>textureRect</key>
                <string>{{425,0},{141,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smile_Xian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,2}</string>
                <key>spriteSourceSize</key>
                <string>{68,2}</string>
                <key>textureRect</key>
                <string>{{0,0},{68,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smile_YuanQuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{381,0},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GameLuck.png</string>
            <key>size</key>
            <string>{1903,1316}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70b36eeb866700357ec6b49737bf1a87:0d44e021cb34c0718bc768ef2e61e551:6956655eaedf3304ec38260389682a96$</string>
            <key>textureFileName</key>
            <string>GameLuck.png</string>
        </dict>
    </dict>
</plist>
