<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>miss_Mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,87}</string>
                <key>spriteSourceSize</key>
                <string>{225,87}</string>
                <key>textureRect</key>
                <string>{{255,111},{225,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miss_di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,108}</string>
                <key>spriteSourceSize</key>
                <string>{249,108}</string>
                <key>textureRect</key>
                <string>{{255,1},{249,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miss_zheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{252,116}</string>
                <key>spriteSourceSize</key>
                <string>{302,116}</string>
                <key>textureRect</key>
                <string>{{1,1},{252,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>miss.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f150ad4ce612e97b0013db1ffd21f3e:d93eaae5c41b1696c088c02d1cf6e522:6c9a1d41327c006537c5f37b2d0b7b43$</string>
            <key>textureFileName</key>
            <string>miss.png</string>
        </dict>
    </dict>
</plist>
