<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_GuanBi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,72}</string>
                <key>spriteSourceSize</key>
                <string>{73,72}</string>
                <key>textureRect</key>
                <string>{{171,108},{73,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_XiaLa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,23}</string>
                <key>spriteSourceSize</key>
                <string>{36,23}</string>
                <key>textureRect</key>
                <string>{{2,2},{36,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_BangDingJieMianDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{839,577}</string>
                <key>spriteSourceSize</key>
                <string>{839,577}</string>
                <key>textureRect</key>
                <string>{{2,265},{839,577}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_QiuGanWeiHu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,51}</string>
                <key>spriteSourceSize</key>
                <string>{235,51}</string>
                <key>textureRect</key>
                <string>{{2,45},{235,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_QiuGanWeiHu_w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,41}</string>
                <key>spriteSourceSize</key>
                <string>{249,41}</string>
                <key>textureRect</key>
                <string>{{533,2},{249,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ShuRuKuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,56}</string>
                <key>spriteSourceSize</key>
                <string>{233,56}</string>
                <key>textureRect</key>
                <string>{{347,45},{233,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_WeiXin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{239,45},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_XiaLaKuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{495,155}</string>
                <key>spriteSourceSize</key>
                <string>{495,155}</string>
                <key>textureRect</key>
                <string>{{362,108},{495,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_XuanDingZhangHaoDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{491,34}</string>
                <key>spriteSourceSize</key>
                <string>{491,34}</string>
                <key>textureRect</key>
                <string>{{40,2},{491,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ZhiFuBao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{293,45},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>queding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,61}</string>
                <key>spriteSourceSize</key>
                <string>{167,61}</string>
                <key>textureRect</key>
                <string>{{582,45},{167,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>queding_w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,61}</string>
                <key>spriteSourceSize</key>
                <string>{167,61}</string>
                <key>textureRect</key>
                <string>{{2,108},{167,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>video.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,122}</string>
                <key>spriteSourceSize</key>
                <string>{114,122}</string>
                <key>textureRect</key>
                <string>{{246,108},{114,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>redPackAli.png</string>
            <key>size</key>
            <string>{859,844}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a3224f1e310140697464ab689030840:ae7593d85313aa2c7a6f9443933114f2:c5288bae62658e30fcacec67b632fee0$</string>
            <key>textureFileName</key>
            <string>redPackAli.png</string>
        </dict>
    </dict>
</plist>
