<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_QueDing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,100}</string>
                <key>spriteSourceSize</key>
                <string>{283,100}</string>
                <key>textureRect</key>
                <string>{{569,64},{283,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_QueDing__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,100}</string>
                <key>spriteSourceSize</key>
                <string>{283,100}</string>
                <key>textureRect</key>
                <string>{{854,64},{283,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_BeiJingGuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{961,828}</string>
                <key>spriteSourceSize</key>
                <string>{961,828}</string>
                <key>textureRect</key>
                <string>{{440,902},{961,828}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_GongXiHuoDeZi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,67}</string>
                <key>spriteSourceSize</key>
                <string>{253,67}</string>
                <key>textureRect</key>
                <string>{{0,64},{253,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_GongXiHuoDeZi__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,67}</string>
                <key>spriteSourceSize</key>
                <string>{312,67}</string>
                <key>textureRect</key>
                <string>{{255,64},{312,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_HongBao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,426}</string>
                <key>spriteSourceSize</key>
                <string>{328,426}</string>
                <key>textureRect</key>
                <string>{{0,474},{328,426}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_HongBao01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,408}</string>
                <key>spriteSourceSize</key>
                <string>{448,408}</string>
                <key>textureRect</key>
                <string>{{1139,64},{448,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_HongBao02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{438,609}</string>
                <key>spriteSourceSize</key>
                <string>{438,609}</string>
                <key>textureRect</key>
                <string>{{0,902},{438,609}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_Ka01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,426}</string>
                <key>spriteSourceSize</key>
                <string>{328,426}</string>
                <key>textureRect</key>
                <string>{{330,474},{328,426}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_Ka02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,426}</string>
                <key>spriteSourceSize</key>
                <string>{328,426}</string>
                <key>textureRect</key>
                <string>{{660,474},{328,426}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_Ka03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,426}</string>
                <key>spriteSourceSize</key>
                <string>{328,426}</string>
                <key>textureRect</key>
                <string>{{990,474},{328,426}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_Ka04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,426}</string>
                <key>spriteSourceSize</key>
                <string>{328,426}</string>
                <key>textureRect</key>
                <string>{{1320,474},{328,426}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_TiShiHeiDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{992,62}</string>
                <key>spriteSourceSize</key>
                <string>{992,62}</string>
                <key>textureRect</key>
                <string>{{662,0},{992,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_tip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,30}</string>
                <key>spriteSourceSize</key>
                <string>{329,30}</string>
                <key>textureRect</key>
                <string>{{0,0},{329,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_tip__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,49}</string>
                <key>spriteSourceSize</key>
                <string>{329,49}</string>
                <key>textureRect</key>
                <string>{{331,0},{329,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GameLottery.png</string>
            <key>size</key>
            <string>{1654,1730}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe8d71ddff72c5c184048da6b32e43ea:6f29972f648e8c1d93087ce33b042840:ab0df2747a545225dd7e30bf84438a0d$</string>
            <key>textureFileName</key>
            <string>GameLottery.png</string>
        </dict>
    </dict>
</plist>
