<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{1109,133},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{1214,133},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{1319,133},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{1424,133},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{1529,133},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{1634,133},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{1739,133},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{1844,133},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{0,272},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{105,272},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{210,272},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{315,272},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{420,272},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{525,272},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{630,272},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{735,272},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{840,272},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{945,272},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{1050,272},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{1155,272},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{1260,272},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{1365,272},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{1470,272},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{1575,272},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{1680,272},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{1785,272},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{1890,272},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{0,411},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{105,411},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{210,411},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{315,411},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{420,411},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{525,411},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{630,411},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{735,411},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{840,411},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{945,411},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{1050,411},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{1155,411},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{1260,411},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{1365,411},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{1470,411},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{1575,411},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{1680,411},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{1785,411},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{1890,411},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{0,550},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{105,550},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{210,550},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{315,550},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{420,550},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{525,550},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{630,550},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,137}</string>
                <key>spriteSourceSize</key>
                <string>{103,137}</string>
                <key>textureRect</key>
                <string>{{735,550},{103,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_HongSe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,81}</string>
                <key>spriteSourceSize</key>
                <string>{278,81}</string>
                <key>textureRect</key>
                <string>{{922,50},{278,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_LanSe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,81}</string>
                <key>spriteSourceSize</key>
                <string>{278,81}</string>
                <key>textureRect</key>
                <string>{{1202,50},{278,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_LvSe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,81}</string>
                <key>spriteSourceSize</key>
                <string>{278,81}</string>
                <key>textureRect</key>
                <string>{{1482,50},{278,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_BiaoTiDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{690,120}</string>
                <key>spriteSourceSize</key>
                <string>{690,120}</string>
                <key>textureRect</key>
                <string>{{417,133},{690,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ChouPaiHeiDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{801,251}</string>
                <key>spriteSourceSize</key>
                <string>{801,251}</string>
                <key>textureRect</key>
                <string>{{957,550},{801,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_FenGeXian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1564,4}</string>
                <key>spriteSourceSize</key>
                <string>{1564,4}</string>
                <key>textureRect</key>
                <string>{{0,0},{1564,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_HuangGuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,48}</string>
                <key>spriteSourceSize</key>
                <string>{58,48}</string>
                <key>textureRect</key>
                <string>{{1566,0},{58,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_PaiBei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,304}</string>
                <key>spriteSourceSize</key>
                <string>{222,304}</string>
                <key>textureRect</key>
                <string>{{1760,550},{222,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_QiTaMingZiDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{459,73}</string>
                <key>spriteSourceSize</key>
                <string>{459,73}</string>
                <key>textureRect</key>
                <string>{{0,50},{459,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_Win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,101}</string>
                <key>spriteSourceSize</key>
                <string>{415,101}</string>
                <key>textureRect</key>
                <string>{{0,133},{415,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ZiJiDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{459,73}</string>
                <key>spriteSourceSize</key>
                <string>{459,73}</string>
                <key>textureRect</key>
                <string>{{461,50},{459,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,149}</string>
                <key>spriteSourceSize</key>
                <string>{115,149}</string>
                <key>textureRect</key>
                <string>{{840,550},{115,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GameCardScene.png</string>
            <key>size</key>
            <string>{1993,854}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7818afdb2c711a8f65ec976011f02d5f:1e5cbffcddd8ed3da2230131faadd597:3b32b0ebb0526042cbdc2148530aad56$</string>
            <key>textureFileName</key>
            <string>GameCardScene.png</string>
        </dict>
    </dict>
</plist>
