<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_QueDing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,65}</string>
                <key>spriteSourceSize</key>
                <string>{206,65}</string>
                <key>textureRect</key>
                <string>{{385,0},{206,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_QueDing__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,60}</string>
                <key>spriteSourceSize</key>
                <string>{200,60}</string>
                <key>textureRect</key>
                <string>{{183,0},{200,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_BiaoTiDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{690,120}</string>
                <key>spriteSourceSize</key>
                <string>{690,120}</string>
                <key>textureRect</key>
                <string>{{0,1587},{690,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_Guang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{732,301}</string>
                <key>spriteSourceSize</key>
                <string>{732,301}</string>
                <key>textureRect</key>
                <string>{{0,1709},{732,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_JingYanHeiDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,78}</string>
                <key>spriteSourceSize</key>
                <string>{325,78}</string>
                <key>textureRect</key>
                <string>{{472,67},{325,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_JingYanTiao01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,13}</string>
                <key>spriteSourceSize</key>
                <string>{229,13}</string>
                <key>textureRect</key>
                <string>{{0,67},{229,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_JingYanTiao02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,25}</string>
                <key>spriteSourceSize</key>
                <string>{239,25}</string>
                <key>textureRect</key>
                <string>{{231,67},{239,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_Nan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{491,724}</string>
                <key>spriteSourceSize</key>
                <string>{491,724}</string>
                <key>textureRect</key>
                <string>{{0,147},{491,724}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_Nv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{631,712}</string>
                <key>spriteSourceSize</key>
                <string>{631,712}</string>
                <key>textureRect</key>
                <string>{{0,873},{631,712}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_XuanZeJueSe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,56}</string>
                <key>spriteSourceSize</key>
                <string>{210,56}</string>
                <key>textureRect</key>
                <string>{{593,0},{210,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_XuanZeJueSe__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,46}</string>
                <key>spriteSourceSize</key>
                <string>{181,46}</string>
                <key>textureRect</key>
                <string>{{0,0},{181,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LobbyRole.png</string>
            <key>size</key>
            <string>{803,2010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45cfa26a636698b42f12bc50f8e9b592:cd785106e3ccd17877d0b80524398787:d0c2fe77d3829371cd41606653494f65$</string>
            <key>textureFileName</key>
            <string>LobbyRole.png</string>
        </dict>
    </dict>
</plist>
