<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ben_TuiChuBiSai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,82}</string>
                <key>spriteSourceSize</key>
                <string>{222,82}</string>
                <key>textureRect</key>
                <string>{{549,146},{222,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ben_TuiChuBiSai__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,82}</string>
                <key>spriteSourceSize</key>
                <string>{222,82}</string>
                <key>textureRect</key>
                <string>{{0,230},{222,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_GuanBi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,72}</string>
                <key>spriteSourceSize</key>
                <string>{73,72}</string>
                <key>textureRect</key>
                <string>{{0,71},{73,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_HanYu01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,73}</string>
                <key>spriteSourceSize</key>
                <string>{155,73}</string>
                <key>textureRect</key>
                <string>{{75,71},{155,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_HanYu01__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,73}</string>
                <key>spriteSourceSize</key>
                <string>{155,73}</string>
                <key>textureRect</key>
                <string>{{232,71},{155,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_HanYu02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,69}</string>
                <key>spriteSourceSize</key>
                <string>{151,69}</string>
                <key>textureRect</key>
                <string>{{269,0},{151,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_HanYu02__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,69}</string>
                <key>spriteSourceSize</key>
                <string>{151,69}</string>
                <key>textureRect</key>
                <string>{{422,0},{151,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_KaiGuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,73}</string>
                <key>spriteSourceSize</key>
                <string>{114,73}</string>
                <key>textureRect</key>
                <string>{{389,71},{114,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_QieHuaZhangHao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,82}</string>
                <key>spriteSourceSize</key>
                <string>{222,82}</string>
                <key>textureRect</key>
                <string>{{224,230},{222,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_QieHuaZhangHao__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,82}</string>
                <key>spriteSourceSize</key>
                <string>{260,82}</string>
                <key>textureRect</key>
                <string>{{448,230},{260,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_TuiChuDengLu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,78}</string>
                <key>spriteSourceSize</key>
                <string>{218,78}</string>
                <key>textureRect</key>
                <string>{{329,146},{218,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_TuiChuDengLu__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,82}</string>
                <key>spriteSourceSize</key>
                <string>{222,82}</string>
                <key>textureRect</key>
                <string>{{710,230},{222,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_WeiYu01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,73}</string>
                <key>spriteSourceSize</key>
                <string>{155,73}</string>
                <key>textureRect</key>
                <string>{{505,71},{155,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_WeiYu01__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,73}</string>
                <key>spriteSourceSize</key>
                <string>{155,73}</string>
                <key>textureRect</key>
                <string>{{662,71},{155,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_WeiYu02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,69}</string>
                <key>spriteSourceSize</key>
                <string>{151,69}</string>
                <key>textureRect</key>
                <string>{{575,0},{151,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_WeiYu02__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,69}</string>
                <key>spriteSourceSize</key>
                <string>{151,69}</string>
                <key>textureRect</key>
                <string>{{728,0},{151,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>content.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{813,385}</string>
                <key>spriteSourceSize</key>
                <string>{813,385}</string>
                <key>textureRect</key>
                <string>{{0,314},{813,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_Di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{838,588}</string>
                <key>spriteSourceSize</key>
                <string>{838,588}</string>
                <key>textureRect</key>
                <string>{{0,701},{838,588}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_KaiGuanDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,73}</string>
                <key>spriteSourceSize</key>
                <string>{327,73}</string>
                <key>textureRect</key>
                <string>{{0,146},{327,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,54}</string>
                <key>spriteSourceSize</key>
                <string>{100,54}</string>
                <key>textureRect</key>
                <string>{{0,0},{100,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setTitle__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,56}</string>
                <key>spriteSourceSize</key>
                <string>{165,56}</string>
                <key>textureRect</key>
                <string>{{102,0},{165,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LobbySet.png</string>
            <key>size</key>
            <string>{932,1289}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2e577fdb196b47348160484c1d6204c:0d96a6986e2fe526fa0df6939ea9b065:7e3bf22d9dbdf90b1c779c68dcccd422$</string>
            <key>textureFileName</key>
            <string>LobbySet.png</string>
        </dict>
    </dict>
</plist>
