<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>VS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,308}</string>
                <key>spriteSourceSize</key>
                <string>{314,308}</string>
                <key>textureRect</key>
                <string>{{0,1262},{314,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_QuXiaoPiPei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,88}</string>
                <key>spriteSourceSize</key>
                <string>{302,88}</string>
                <key>textureRect</key>
                <string>{{0,0},{302,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_QuXiaoPiPei__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,88}</string>
                <key>spriteSourceSize</key>
                <string>{302,88}</string>
                <key>textureRect</key>
                <string>{{0,88},{302,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ChouPaiWanFa15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{446,69}</string>
                <key>spriteSourceSize</key>
                <string>{446,69}</string>
                <key>textureRect</key>
                <string>{{0,176},{446,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ChouPaiWanFa15__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,69}</string>
                <key>spriteSourceSize</key>
                <string>{486,69}</string>
                <key>textureRect</key>
                <string>{{0,245},{486,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ChouPaiWanFa54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{446,69}</string>
                <key>spriteSourceSize</key>
                <string>{446,69}</string>
                <key>textureRect</key>
                <string>{{0,314},{446,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ChouPaiWanFa54__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,69}</string>
                <key>spriteSourceSize</key>
                <string>{486,69}</string>
                <key>textureRect</key>
                <string>{{0,383},{486,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_Dian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,6}</string>
                <key>spriteSourceSize</key>
                <string>{6,6}</string>
                <key>textureRect</key>
                <string>{{486,383},{6,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_HongQiuWanFa02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,69}</string>
                <key>spriteSourceSize</key>
                <string>{290,69}</string>
                <key>textureRect</key>
                <string>{{0,452},{290,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_HongQiuWanFa02__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,51}</string>
                <key>spriteSourceSize</key>
                <string>{174,51}</string>
                <key>textureRect</key>
                <string>{{290,452},{174,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_PiPeiZhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,37}</string>
                <key>spriteSourceSize</key>
                <string>{115,37}</string>
                <key>textureRect</key>
                <string>{{0,521},{115,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_PiPeiZhong__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,37}</string>
                <key>spriteSourceSize</key>
                <string>{263,37}</string>
                <key>textureRect</key>
                <string>{{115,521},{263,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_QiTaWanJiaDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{437,254}</string>
                <key>spriteSourceSize</key>
                <string>{437,254}</string>
                <key>textureRect</key>
                <string>{{0,558},{437,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_TouXiangDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,111}</string>
                <key>spriteSourceSize</key>
                <string>{111,111}</string>
                <key>textureRect</key>
                <string>{{0,812},{111,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_TouXiangKuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,127}</string>
                <key>spriteSourceSize</key>
                <string>{124,127}</string>
                <key>textureRect</key>
                <string>{{111,812},{124,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ZhongShiBaQiu02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,69}</string>
                <key>spriteSourceSize</key>
                <string>{288,69}</string>
                <key>textureRect</key>
                <string>{{0,939},{288,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ZhongShiBaQiu02__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,50}</string>
                <key>spriteSourceSize</key>
                <string>{213,50}</string>
                <key>textureRect</key>
                <string>{{288,939},{213,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ZiJiDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{437,254}</string>
                <key>spriteSourceSize</key>
                <string>{437,254}</string>
                <key>textureRect</key>
                <string>{{0,1008},{437,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GameCardMatch.png</string>
            <key>size</key>
            <string>{501,1570}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c975573a4f439df185fa1526c0d2008:53e88ae4af3444a3ce66ed3be787762e:372be7076160001532cadf2b24a8f202$</string>
            <key>textureFileName</key>
            <string>GameCardMatch.png</string>
        </dict>
    </dict>
</plist>
