<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vs0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,467}</string>
                <key>spriteSourceSize</key>
                <string>{512,467}</string>
                <key>textureRect</key>
                <string>{{0,0},{512,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vs1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,467}</string>
                <key>spriteSourceSize</key>
                <string>{512,467}</string>
                <key>textureRect</key>
                <string>{{512,0},{512,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vs2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,467}</string>
                <key>spriteSourceSize</key>
                <string>{512,467}</string>
                <key>textureRect</key>
                <string>{{1024,0},{512,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vs3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,467}</string>
                <key>spriteSourceSize</key>
                <string>{512,467}</string>
                <key>textureRect</key>
                <string>{{1536,0},{512,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vs4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,467}</string>
                <key>spriteSourceSize</key>
                <string>{512,467}</string>
                <key>textureRect</key>
                <string>{{0,467},{512,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vs5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,467}</string>
                <key>spriteSourceSize</key>
                <string>{512,467}</string>
                <key>textureRect</key>
                <string>{{512,467},{512,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vs6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,467}</string>
                <key>spriteSourceSize</key>
                <string>{512,467}</string>
                <key>textureRect</key>
                <string>{{1024,467},{512,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vs7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,467}</string>
                <key>spriteSourceSize</key>
                <string>{512,467}</string>
                <key>textureRect</key>
                <string>{{1536,467},{512,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>vs.png</string>
            <key>size</key>
            <string>{2048,934}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc7402a784910ef173f795c8deac3215:a50df24066c51257296da6ed26b31b0d:937a147cfc4708b87931949b3954e4b5$</string>
            <key>textureFileName</key>
            <string>vs.png</string>
        </dict>
    </dict>
</plist>
