<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ef_baozha_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,683},{120,120}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,65},{120,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ef_baozha_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,292},{138,138}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,57},{138,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ef_baozha_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,286},{128,130}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,59},{128,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ef_baozha_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,148},{136,136}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,60},{136,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ef_baozha_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{132,136}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,61},{132,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ef_baozha_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,514},{124,132}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,61},{124,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ef_baozha_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,286},{122,124}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,63},{122,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ef_baozha_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,685},{124,120}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,64},{124,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ef_baozha_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,508},{124,118}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,65},{124,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ef_baozha_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,512},{126,116}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,65},{126,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ef_baozha_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,811},{122,108}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,66},{122,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ef_baozha_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,805},{112,106}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,67},{112,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ef_baozha_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,919},{96,100}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,71},{96,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ef_baozha_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,418},{88,88}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,82},{88,88}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ef_jiguang01_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,0},{106,512}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
            <key>ef_zhadan_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,432},{54,66}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,33},{54,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>jinbi_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,412},{45,45}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{45,45}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>jinbi_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,640},{43,45}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{43,45}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>jinbi_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,648},{37,45}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{37,45}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>jinbi_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,994},{27,45}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{27,45}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>jinbi_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1006},{13,45}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,5},{13,45}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>jinbi_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1004},{17,45}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,5},{17,45}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>jinbi_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,811},{29,45}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,5},{29,45}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>jinbi_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,648},{39,45}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{39,45}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>jinbi_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,640},{43,45}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{43,45}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>jinbi_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,459},{45,45}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{45,45}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>jinbi_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,459},{41,45}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{41,45}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>jinbi_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,648},{35,45}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{35,45}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>jinbi_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,994},{23,45}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,5},{23,45}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>jinbi_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,1006},{9,45}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,5},{9,45}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>jinbi_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,994},{21,45}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,5},{21,45}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>jinbi_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,634},{33,45}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{33,45}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>jinbi_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,640},{41,45}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{41,45}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>jinbi_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,412},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{45,45}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>shengji_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{144,172}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,44},{144,172}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shengji_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,842},{138,150}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,45},{138,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shengji_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,148},{132,142}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,47},{132,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shengji_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{114,156}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,42},{114,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shengji_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{136,144}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,38},{136,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shengji_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,690},{140,150}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,37},{140,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shengji_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{136,156}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,37},{136,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shengji_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,848},{94,154}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,44},{94,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shengji_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,620},{110,110}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,29},{110,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shengji_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,506},{110,112}}</string>
                <key>offset</key>
                <string>{1,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,22},{110,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shengji_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{106,110}}</string>
                <key>offset</key>
                <string>{-2,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,14},{106,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shengji_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,418},{88,92}}</string>
                <key>offset</key>
                <string>{-3,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,16},{88,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shengji_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,432},{80,84}}</string>
                <key>offset</key>
                <string>{-3,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,17},{80,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Tecture01.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8eb092824e9c9cb27c02e6d24ff0ffaa$</string>
            <key>textureFileName</key>
            <string>Tecture01.png</string>
        </dict>
    </dict>
</plist>
