<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_BiaoQing01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,225}</string>
                <key>spriteSourceSize</key>
                <string>{88,225}</string>
                <key>textureRect</key>
                <string>{{0,653},{88,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_BiaoQing02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,225}</string>
                <key>spriteSourceSize</key>
                <string>{89,225}</string>
                <key>textureRect</key>
                <string>{{88,653},{89,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_LiShiJiLu01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,225}</string>
                <key>spriteSourceSize</key>
                <string>{88,225}</string>
                <key>textureRect</key>
                <string>{{177,653},{88,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_LiShiJiLu02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,225}</string>
                <key>spriteSourceSize</key>
                <string>{88,225}</string>
                <key>textureRect</key>
                <string>{{265,653},{88,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_LiWu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,53}</string>
                <key>spriteSourceSize</key>
                <string>{53,53}</string>
                <key>textureRect</key>
                <string>{{1555,0},{53,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_LiaoTian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,72}</string>
                <key>spriteSourceSize</key>
                <string>{73,72}</string>
                <key>textureRect</key>
                <string>{{684,61},{73,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_PuTongBiaoQing01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,61}</string>
                <key>spriteSourceSize</key>
                <string>{213,61}</string>
                <key>textureRect</key>
                <string>{{1608,0},{213,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_QiuGan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{618,61},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_SheZhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,78}</string>
                <key>spriteSourceSize</key>
                <string>{79,78}</string>
                <key>textureRect</key>
                <string>{{1267,61},{79,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_WenZi01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,225}</string>
                <key>spriteSourceSize</key>
                <string>{88,225}</string>
                <key>textureRect</key>
                <string>{{353,653},{88,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_WenZi02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,225}</string>
                <key>spriteSourceSize</key>
                <string>{89,225}</string>
                <key>textureRect</key>
                <string>{{441,653},{89,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ZunGuiBiaoQing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,61}</string>
                <key>spriteSourceSize</key>
                <string>{213,61}</string>
                <key>textureRect</key>
                <string>{{0,61},{213,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_fanbei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,46}</string>
                <key>spriteSourceSize</key>
                <string>{130,46}</string>
                <key>textureRect</key>
                <string>{{1198,0},{130,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_fanbei__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,46}</string>
                <key>spriteSourceSize</key>
                <string>{130,46}</string>
                <key>textureRect</key>
                <string>{{1328,0},{130,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exp1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{1028,314},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exp10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,143}</string>
                <key>spriteSourceSize</key>
                <string>{146,143}</string>
                <key>textureRect</key>
                <string>{{0,314},{146,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exp11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,142}</string>
                <key>spriteSourceSize</key>
                <string>{149,142}</string>
                <key>textureRect</key>
                <string>{{1875,172},{149,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exp12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{734,314},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exp13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,149}</string>
                <key>spriteSourceSize</key>
                <string>{141,149}</string>
                <key>textureRect</key>
                <string>{{1620,314},{141,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exp14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,144}</string>
                <key>spriteSourceSize</key>
                <string>{146,144}</string>
                <key>textureRect</key>
                <string>{{146,314},{146,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exp15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{881,314},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exp16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{1176,314},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exp17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{1324,314},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exp18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,149}</string>
                <key>spriteSourceSize</key>
                <string>{150,149}</string>
                <key>textureRect</key>
                <string>{{1761,314},{150,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exp19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,149}</string>
                <key>spriteSourceSize</key>
                <string>{144,149}</string>
                <key>textureRect</key>
                <string>{{0,463},{144,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exp2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,144}</string>
                <key>spriteSourceSize</key>
                <string>{149,144}</string>
                <key>textureRect</key>
                <string>{{292,314},{149,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exp20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,149}</string>
                <key>spriteSourceSize</key>
                <string>{141,149}</string>
                <key>textureRect</key>
                <string>{{144,463},{141,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exp3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{1472,314},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exp4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{441,314},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exp5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,149}</string>
                <key>spriteSourceSize</key>
                <string>{149,149}</string>
                <key>textureRect</key>
                <string>{{285,463},{149,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exp6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,149}</string>
                <key>spriteSourceSize</key>
                <string>{149,149}</string>
                <key>textureRect</key>
                <string>{{434,463},{149,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exp7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,146}</string>
                <key>spriteSourceSize</key>
                <string>{147,146}</string>
                <key>textureRect</key>
                <string>{{587,314},{147,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exp8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,150}</string>
                <key>spriteSourceSize</key>
                <string>{145,150}</string>
                <key>textureRect</key>
                <string>{{731,463},{145,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exp9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,149}</string>
                <key>spriteSourceSize</key>
                <string>{148,149}</string>
                <key>textureRect</key>
                <string>{{583,463},{148,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1735,172},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_AnNiuDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,62}</string>
                <key>spriteSourceSize</key>
                <string>{405,62}</string>
                <key>textureRect</key>
                <string>{{213,61},{405,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_BiFenXian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,9}</string>
                <key>spriteSourceSize</key>
                <string>{32,9}</string>
                <key>textureRect</key>
                <string>{{501,0},{32,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_DengJiDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,42}</string>
                <key>spriteSourceSize</key>
                <string>{40,42}</string>
                <key>textureRect</key>
                <string>{{817,0},{40,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_Ding02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,96}</string>
                <key>spriteSourceSize</key>
                <string>{327,96}</string>
                <key>textureRect</key>
                <string>{{1346,61},{327,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_DingLanDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1144,190}</string>
                <key>spriteSourceSize</key>
                <string>{1144,190}</string>
                <key>textureRect</key>
                <string>{{876,463},{1144,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_FenGeXian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,3}</string>
                <key>spriteSourceSize</key>
                <string>{501,3}</string>
                <key>textureRect</key>
                <string>{{0,0},{501,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_GaoLiang01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,77}</string>
                <key>spriteSourceSize</key>
                <string>{255,77}</string>
                <key>textureRect</key>
                <string>{{757,61},{255,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_GaoLiang02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,77}</string>
                <key>spriteSourceSize</key>
                <string>{255,77}</string>
                <key>textureRect</key>
                <string>{{1012,61},{255,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_LiaoTianKuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{663,728}</string>
                <key>spriteSourceSize</key>
                <string>{663,728}</string>
                <key>textureRect</key>
                <string>{{775,653},{663,728}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_PuTongBiaoQing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,29}</string>
                <key>spriteSourceSize</key>
                <string>{118,29}</string>
                <key>textureRect</key>
                <string>{{533,0},{118,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_QiuDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,43}</string>
                <key>spriteSourceSize</key>
                <string>{341,43}</string>
                <key>textureRect</key>
                <string>{{857,0},{341,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_TouXiangDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,111}</string>
                <key>spriteSourceSize</key>
                <string>{111,111}</string>
                <key>textureRect</key>
                <string>{{1673,61},{111,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_TouXiangKuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,127}</string>
                <key>spriteSourceSize</key>
                <string>{124,127}</string>
                <key>textureRect</key>
                <string>{{1611,172},{124,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_XiaoXiKuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{434,111}</string>
                <key>spriteSourceSize</key>
                <string>{434,111}</string>
                <key>textureRect</key>
                <string>{{0,172},{434,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_XiaoXiKuang02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{434,111}</string>
                <key>spriteSourceSize</key>
                <string>{434,111}</string>
                <key>textureRect</key>
                <string>{{434,172},{434,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ZunGuiBiaoQing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,29}</string>
                <key>spriteSourceSize</key>
                <string>{118,29}</string>
                <key>textureRect</key>
                <string>{{651,0},{118,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_daojishi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,123}</string>
                <key>spriteSourceSize</key>
                <string>{123,123}</string>
                <key>textureRect</key>
                <string>{{1488,172},{123,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_gerenxinxishanguang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{620,121}</string>
                <key>spriteSourceSize</key>
                <string>{620,121}</string>
                <key>textureRect</key>
                <string>{{868,172},{620,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>set_ret.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,52}</string>
                <key>spriteSourceSize</key>
                <string>{48,52}</string>
                <key>textureRect</key>
                <string>{{1507,0},{48,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting_set_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,258}</string>
                <key>spriteSourceSize</key>
                <string>{245,258}</string>
                <key>textureRect</key>
                <string>{{530,653},{245,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting_set_exit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,39}</string>
                <key>spriteSourceSize</key>
                <string>{48,39}</string>
                <key>textureRect</key>
                <string>{{769,0},{48,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting_set_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{1458,0},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>eightBall_TopInfo.png</string>
            <key>size</key>
            <string>{2024,1381}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad5d97bb2d7bbcc8ea82da4eb53ed7dd:dd43bb50c0c615536388af44cf3a0bc1:bd59dbd4249ba829ba963434f122df39$</string>
            <key>textureFileName</key>
            <string>eightBall_TopInfo.png</string>
        </dict>
    </dict>
</plist>
