<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ball_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{636,121},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{687,121},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{738,121},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{789,121},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{840,121},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{891,121},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{0,172},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{51,172},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{102,172},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{153,172},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{204,172},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{255,172},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{306,172},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{357,172},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{408,172},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{459,172},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{510,172},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>disableBig.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,132}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{748,525},{132,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>disableSmall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{589,121},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eightBall_Ball_HighLight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{561,172},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eightBall_Ball_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{522,525},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eightBall_Bootom_traslateBack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{905,0},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eightBall_Btn_Menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{612,172},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eightBall_DrawCircle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{0,31},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eightBall_DrawCircle_Red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{41,41}</string>
                <key>textureRect</key>
                <string>{{103,31},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eightBall_DrawCircle_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{41,41}</string>
                <key>textureRect</key>
                <string>{{145,31},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eightBall_DrawLine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{864,7}</string>
                <key>spriteSourceSize</key>
                <string>{864,7}</string>
                <key>textureRect</key>
                <string>{{0,0},{864,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eightBall_Effect_Bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{273,525},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eightBall_FineTurningBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,423}</string>
                <key>spriteSourceSize</key>
                <string>{43,423}</string>
                <key>textureRect</key>
                <string>{{690,658},{43,423}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eightBall_FineTurning_Back2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,591}</string>
                <key>spriteSourceSize</key>
                <string>{119,591}</string>
                <key>textureRect</key>
                <string>{{571,1087},{119,591}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eightBall_FineTurning_Scale.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,461}</string>
                <key>spriteSourceSize</key>
                <string>{19,461}</string>
                <key>textureRect</key>
                <string>{{439,1087},{19,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eightBall_FineTurning_Tag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,27}</string>
                <key>spriteSourceSize</key>
                <string>{28,27}</string>
                <key>textureRect</key>
                <string>{{876,0},{28,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eightBall_ForbidSet_WhiteBall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,90}</string>
                <key>spriteSourceSize</key>
                <string>{92,90}</string>
                <key>textureRect</key>
                <string>{{429,525},{92,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eightBall_HeadFramwork.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{838,172},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eightBall_HighLowPole_Bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,74}</string>
                <key>spriteSourceSize</key>
                <string>{73,74}</string>
                <key>textureRect</key>
                <string>{{720,375},{73,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eightBall_HighLowPole_BigWhiteBall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{438,445}</string>
                <key>spriteSourceSize</key>
                <string>{438,445}</string>
                <key>textureRect</key>
                <string>{{0,1087},{438,445}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eightBall_HighLowPole_RedPint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{543,121},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eightBall_SliderBar_Cue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,461}</string>
                <key>spriteSourceSize</key>
                <string>{23,461}</string>
                <key>textureRect</key>
                <string>{{459,1087},{23,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eightBall_SliderBar_Power.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,465}</string>
                <key>spriteSourceSize</key>
                <string>{35,465}</string>
                <key>textureRect</key>
                <string>{{483,1087},{35,465}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eightBall_Sliderbar_Bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,592}</string>
                <key>spriteSourceSize</key>
                <string>{119,592}</string>
                <key>textureRect</key>
                <string>{{691,1087},{119,592}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eightBall_Small_RedPoint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{865,0},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eightBall_Small_Whiteball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{777,172},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eightBall_TieBar_Dial.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,385}</string>
                <key>spriteSourceSize</key>
                <string>{385,385}</string>
                <key>textureRect</key>
                <string>{{304,658},{385,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eightBall_TimeProgress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{0,237},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eightBall_Tips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{62,31},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eightBall_Tips_Bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{351,525},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eightBall_TransparentBall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{31,31},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eightBall_WhiteBack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,428}</string>
                <key>spriteSourceSize</key>
                <string>{214,428}</string>
                <key>textureRect</key>
                <string>{{734,658},{214,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eightBall_WhiteBall_BigCircle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,124}</string>
                <key>spriteSourceSize</key>
                <string>{124,124}</string>
                <key>textureRect</key>
                <string>{{623,525},{124,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eightBall_WhiteBall_Hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,41}</string>
                <key>spriteSourceSize</key>
                <string>{56,41}</string>
                <key>textureRect</key>
                <string>{{187,31},{56,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eightBall_Word_HitFullBall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,68}</string>
                <key>spriteSourceSize</key>
                <string>{400,68}</string>
                <key>textureRect</key>
                <string>{{437,237},{400,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eightBall_Word_HitFullBall__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{761,74}</string>
                <key>spriteSourceSize</key>
                <string>{761,74}</string>
                <key>textureRect</key>
                <string>{{0,450},{761,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eightBall_Word_HitHalfBall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,68}</string>
                <key>spriteSourceSize</key>
                <string>{400,68}</string>
                <key>textureRect</key>
                <string>{{0,306},{400,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eightBall_Word_HitHalfBall__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{719,68}</string>
                <key>spriteSourceSize</key>
                <string>{719,68}</string>
                <key>textureRect</key>
                <string>{{0,375},{719,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eightBall_Word_YourRound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,67}</string>
                <key>spriteSourceSize</key>
                <string>{257,67}</string>
                <key>textureRect</key>
                <string>{{179,237},{257,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eightBall_Word_YourRound__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,75}</string>
                <key>spriteSourceSize</key>
                <string>{272,75}</string>
                <key>textureRect</key>
                <string>{{0,525},{272,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_BaiQiuGuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,132}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{0,658},{132,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_Effect_Link.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,56}</string>
                <key>spriteSourceSize</key>
                <string>{107,56}</string>
                <key>textureRect</key>
                <string>{{669,172},{107,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_Effect_Link__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,65}</string>
                <key>spriteSourceSize</key>
                <string>{113,65}</string>
                <key>textureRect</key>
                <string>{{65,237},{113,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_HongQuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{244,31},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_LiDu00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,502}</string>
                <key>spriteSourceSize</key>
                <string>{51,502}</string>
                <key>textureRect</key>
                <string>{{519,1087},{51,502}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_WeiHu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,164}</string>
                <key>spriteSourceSize</key>
                <string>{170,164}</string>
                <key>textureRect</key>
                <string>{{133,658},{170,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_WeiHuZi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{542,44}</string>
                <key>spriteSourceSize</key>
                <string>{542,44}</string>
                <key>textureRect</key>
                <string>{{287,31},{542,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_WeiHuZi__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{542,44}</string>
                <key>spriteSourceSize</key>
                <string>{542,44}</string>
                <key>textureRect</key>
                <string>{{0,76},{542,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_huisedi01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{542,44}</string>
                <key>spriteSourceSize</key>
                <string>{542,44}</string>
                <key>textureRect</key>
                <string>{{0,121},{542,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>EightBall.png</string>
            <key>size</key>
            <string>{948,1679}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be2ea0816b21610dd72358ba4b8032d0:0d61ab633427cdc849e529d1b15f9c13:0984736ee9314343a44d66e13ad2a873$</string>
            <key>textureFileName</key>
            <string>EightBall.png</string>
        </dict>
    </dict>
</plist>
