<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_ChouPaiWanFa15zhang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,460}</string>
                <key>spriteSourceSize</key>
                <string>{322,460}</string>
                <key>textureRect</key>
                <string>{{1425,434},{322,460}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ChouPaiWanFa15zhang__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,460}</string>
                <key>spriteSourceSize</key>
                <string>{322,460}</string>
                <key>textureRect</key>
                <string>{{0,896},{322,460}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ChouPaiWanFa54zhang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,460}</string>
                <key>spriteSourceSize</key>
                <string>{322,460}</string>
                <key>textureRect</key>
                <string>{{324,896},{322,460}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ChouPaiWanFa54zhang__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,460}</string>
                <key>spriteSourceSize</key>
                <string>{322,460}</string>
                <key>textureRect</key>
                <string>{{648,896},{322,460}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ChuJiChang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,432}</string>
                <key>spriteSourceSize</key>
                <string>{283,432}</string>
                <key>textureRect</key>
                <string>{{1408,0},{283,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ChuJiChang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,432}</string>
                <key>spriteSourceSize</key>
                <string>{283,432}</string>
                <key>textureRect</key>
                <string>{{0,434},{283,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_GaoJiChang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,432}</string>
                <key>spriteSourceSize</key>
                <string>{283,432}</string>
                <key>textureRect</key>
                <string>{{285,434},{283,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_GaoJiChang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,432}</string>
                <key>spriteSourceSize</key>
                <string>{283,432}</string>
                <key>textureRect</key>
                <string>{{570,434},{283,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_HongQiuWanFa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,460}</string>
                <key>spriteSourceSize</key>
                <string>{322,460}</string>
                <key>textureRect</key>
                <string>{{972,896},{322,460}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_HongQiuWanFa__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,460}</string>
                <key>spriteSourceSize</key>
                <string>{322,460}</string>
                <key>textureRect</key>
                <string>{{1296,896},{322,460}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_YuLeChang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,460}</string>
                <key>spriteSourceSize</key>
                <string>{322,460}</string>
                <key>textureRect</key>
                <string>{{1620,896},{322,460}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_YuLeChang__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,460}</string>
                <key>spriteSourceSize</key>
                <string>{322,460}</string>
                <key>textureRect</key>
                <string>{{0,1358},{322,460}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ZhongJiChang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,432}</string>
                <key>spriteSourceSize</key>
                <string>{283,432}</string>
                <key>textureRect</key>
                <string>{{855,434},{283,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ZhongJiChang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,432}</string>
                <key>spriteSourceSize</key>
                <string>{283,432}</string>
                <key>textureRect</key>
                <string>{{1140,434},{283,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ZuanShiChang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,460}</string>
                <key>spriteSourceSize</key>
                <string>{322,460}</string>
                <key>textureRect</key>
                <string>{{324,1358},{322,460}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ZuanShiChang__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,460}</string>
                <key>spriteSourceSize</key>
                <string>{322,460}</string>
                <key>textureRect</key>
                <string>{{648,1358},{322,460}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ChuJiChang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,65}</string>
                <key>spriteSourceSize</key>
                <string>{179,65}</string>
                <key>textureRect</key>
                <string>{{259,0},{179,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ChuJiChang__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,65}</string>
                <key>spriteSourceSize</key>
                <string>{200,65}</string>
                <key>textureRect</key>
                <string>{{802,0},{200,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_GaoJiChang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,65}</string>
                <key>spriteSourceSize</key>
                <string>{179,65}</string>
                <key>textureRect</key>
                <string>{{440,0},{179,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_GaoJiChang__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,65}</string>
                <key>spriteSourceSize</key>
                <string>{200,65}</string>
                <key>textureRect</key>
                <string>{{1004,0},{200,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_LiWu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,91}</string>
                <key>spriteSourceSize</key>
                <string>{88,91}</string>
                <key>textureRect</key>
                <string>{{0,0},{88,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ZhongJiChang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,65}</string>
                <key>spriteSourceSize</key>
                <string>{179,65}</string>
                <key>textureRect</key>
                <string>{{621,0},{179,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ZhongJiChang__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,65}</string>
                <key>spriteSourceSize</key>
                <string>{200,65}</string>
                <key>textureRect</key>
                <string>{{1206,0},{200,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ZhongShiBaQiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,460}</string>
                <key>spriteSourceSize</key>
                <string>{322,460}</string>
                <key>textureRect</key>
                <string>{{972,1358},{322,460}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ZhongShiBaQiu__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,460}</string>
                <key>spriteSourceSize</key>
                <string>{322,460}</string>
                <key>textureRect</key>
                <string>{{1296,1358},{322,460}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,222}</string>
                <key>spriteSourceSize</key>
                <string>{167,222}</string>
                <key>textureRect</key>
                <string>{{90,0},{167,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LobbyRoom.png</string>
            <key>size</key>
            <string>{1942,1818}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:808d7b437e7b8df638c469a0d68b6f6e:57ed29b3003f9add4acee16df3f2061b:21806cddd1942acded14253da721b58e$</string>
            <key>textureFileName</key>
            <string>LobbyRoom.png</string>
        </dict>
    </dict>
</plist>
