<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dingZi01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{64,94}</string>
                <key>spriteSourceSize</key>
                <string>{64,96}</string>
                <key>textureRect</key>
                <string>{{873,1},{64,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dingZi02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{64,94}</string>
                <key>spriteSourceSize</key>
                <string>{64,96}</string>
                <key>textureRect</key>
                <string>{{873,1},{64,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>duiGou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{46,39}</string>
                <key>spriteSourceSize</key>
                <string>{46,49}</string>
                <key>textureRect</key>
                <string>{{969,1},{46,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duiGou_di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,103}</string>
                <key>spriteSourceSize</key>
                <string>{102,103}</string>
                <key>textureRect</key>
                <string>{{768,1},{102,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wenZi_huo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,356}</string>
                <key>spriteSourceSize</key>
                <string>{339,360}</string>
                <key>textureRect</key>
                <string>{{1,129},{335,356}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wenZi_shan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{342,364}</string>
                <key>spriteSourceSize</key>
                <string>{346,370}</string>
                <key>textureRect</key>
                <string>{{389,37},{342,364}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wenzi_wenTi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,34}</string>
                <key>spriteSourceSize</key>
                <string>{377,34}</string>
                <key>textureRect</key>
                <string>{{389,1},{377,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuWen_1_qianJing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{362,-252}</string>
                <key>spriteSize</key>
                <string>{386,126}</string>
                <key>spriteSourceSize</key>
                <string>{1110,630}</string>
                <key>textureRect</key>
                <string>{{1,1},{386,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>yuWen_1_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11a41fa347bee9cce74cc498ab976dd3:7e7d5c918c719504afd6ea7636e9ce07:846027cbebf5d51248ca146a133b57df$</string>
            <key>textureFileName</key>
            <string>yuWen_1_1.png</string>
        </dict>
    </dict>
</plist>
