<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xb_bangding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{1180,194},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_bd-xxdk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1146,213},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_beilvkuang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,110}</string>
                <key>spriteSourceSize</key>
                <string>{272,110}</string>
                <key>textureRect</key>
                <string>{{737,131},{272,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_beilvkuang3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,58}</string>
                <key>spriteSourceSize</key>
                <string>{53,58}</string>
                <key>textureRect</key>
                <string>{{1674,189},{53,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_btn_tgdh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,44}</string>
                <key>spriteSourceSize</key>
                <string>{103,44}</string>
                <key>textureRect</key>
                <string>{{1783,1},{103,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_cz_dikuang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,73}</string>
                <key>spriteSourceSize</key>
                <string>{82,73}</string>
                <key>textureRect</key>
                <string>{{1681,108},{82,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_cz_dikuang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,52}</string>
                <key>spriteSourceSize</key>
                <string>{50,52}</string>
                <key>textureRect</key>
                <string>{{1562,194},{50,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_cz_dikuang3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,109}</string>
                <key>spriteSourceSize</key>
                <string>{122,109}</string>
                <key>textureRect</key>
                <string>{{834,1},{122,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_cz_gouk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{1831,123},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_dianjihou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,148}</string>
                <key>spriteSourceSize</key>
                <string>{139,148}</string>
                <key>textureRect</key>
                <string>{{1,1},{139,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_guanbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,73}</string>
                <key>spriteSourceSize</key>
                <string>{67,73}</string>
                <key>textureRect</key>
                <string>{{1714,1},{67,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_jbkuang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,35}</string>
                <key>spriteSourceSize</key>
                <string>{73,35}</string>
                <key>textureRect</key>
                <string>{{1011,215},{73,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_jiahao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{1936,77},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_jinbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{1875,123},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_jn_jindu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,5}</string>
                <key>spriteSourceSize</key>
                <string>{52,5}</string>
                <key>textureRect</key>
                <string>{{163,245},{52,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_jn_jindu2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,5}</string>
                <key>spriteSourceSize</key>
                <string>{52,5}</string>
                <key>textureRect</key>
                <string>{{217,245},{52,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_miaozhun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,99}</string>
                <key>spriteSourceSize</key>
                <string>{89,99}</string>
                <key>textureRect</key>
                <string>{{1,151},{89,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_shuaxindx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,103}</string>
                <key>spriteSourceSize</key>
                <string>{129,103}</string>
                <key>textureRect</key>
                <string>{{1019,108},{129,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_shuaxintu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,91}</string>
                <key>spriteSourceSize</key>
                <string>{71,91}</string>
                <key>textureRect</key>
                <string>{{249,151},{71,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_sm_dqbl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,74}</string>
                <key>spriteSourceSize</key>
                <string>{112,74}</string>
                <key>textureRect</key>
                <string>{{1600,1},{112,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_ts_anniu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,84}</string>
                <key>spriteSourceSize</key>
                <string>{174,84}</string>
                <key>textureRect</key>
                <string>{{1150,108},{174,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_ts_anniu2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,84}</string>
                <key>spriteSourceSize</key>
                <string>{174,84}</string>
                <key>textureRect</key>
                <string>{{1326,108},{174,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_ty_tips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1729,183},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_weidianji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,148}</string>
                <key>spriteSourceSize</key>
                <string>{139,148}</string>
                <key>textureRect</key>
                <string>{{142,1},{139,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{322,241},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_wusheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{1614,189},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_xiazhu_jiantou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,20}</string>
                <key>spriteSourceSize</key>
                <string>{25,20}</string>
                <key>textureRect</key>
                <string>{{958,108},{25,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_yingxiongtu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,97}</string>
                <key>spriteSourceSize</key>
                <string>{69,97}</string>
                <key>textureRect</key>
                <string>{{92,151},{69,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_yousheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{1239,194},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_yx_kuang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,39}</string>
                <key>spriteSourceSize</key>
                <string>{49,39}</string>
                <key>textureRect</key>
                <string>{{1913,123},{49,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_yx_kuang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,53}</string>
                <key>spriteSourceSize</key>
                <string>{56,53}</string>
                <key>textureRect</key>
                <string>{{1504,194},{56,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_z_xiakuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,105}</string>
                <key>spriteSourceSize</key>
                <string>{640,105}</string>
                <key>textureRect</key>
                <string>{{958,1},{640,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_z_xiaxian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,105}</string>
                <key>spriteSourceSize</key>
                <string>{6,105}</string>
                <key>textureRect</key>
                <string>{{1011,108},{6,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_zd_qzd0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,29}</string>
                <key>spriteSourceSize</key>
                <string>{83,29}</string>
                <key>textureRect</key>
                <string>{{1888,46},{83,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_zd_sdgj0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,29}</string>
                <key>spriteSourceSize</key>
                <string>{110,29}</string>
                <key>textureRect</key>
                <string>{{1600,77},{110,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_zd_suodgj0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,29}</string>
                <key>spriteSourceSize</key>
                <string>{110,29}</string>
                <key>textureRect</key>
                <string>{{1712,77},{110,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_zd_xuanzhong3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{163,151},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_zd_zdfp0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,29}</string>
                <key>spriteSourceSize</key>
                <string>{110,29}</string>
                <key>textureRect</key>
                <string>{{1824,77},{110,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_zidongtu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,79}</string>
                <key>spriteSourceSize</key>
                <string>{83,79}</string>
                <key>textureRect</key>
                <string>{{1596,108},{83,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_zjm_boss_cm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1765,108},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_zjm_boss_cm1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,89}</string>
                <key>spriteSourceSize</key>
                <string>{413,89}</string>
                <key>textureRect</key>
                <string>{{322,150},{413,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_zjm_gzjs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,55}</string>
                <key>spriteSourceSize</key>
                <string>{204,55}</string>
                <key>textureRect</key>
                <string>{{1298,194},{204,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_zjm_gzjs1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{706,1},{126,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_zjm_gzjs2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,34}</string>
                <key>spriteSourceSize</key>
                <string>{35,34}</string>
                <key>textureRect</key>
                <string>{{1086,213},{35,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_zjm_kkk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{424,1},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_zjm_kkk3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{565,1},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_zjm_kkk4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,43}</string>
                <key>spriteSourceSize</key>
                <string>{83,43}</string>
                <key>textureRect</key>
                <string>{{1888,1},{83,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_zjm_wenhao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,33}</string>
                <key>spriteSourceSize</key>
                <string>{21,33}</string>
                <key>textureRect</key>
                <string>{{1123,213},{21,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_zjm_wenhaok.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,84}</string>
                <key>spriteSourceSize</key>
                <string>{92,84}</string>
                <key>textureRect</key>
                <string>{{1502,108},{92,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_zjm_zjsz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,63}</string>
                <key>spriteSourceSize</key>
                <string>{171,63}</string>
                <key>textureRect</key>
                <string>{{1795,174},{171,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xcpai01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,147}</string>
                <key>spriteSourceSize</key>
                <string>{139,147}</string>
                <key>textureRect</key>
                <string>{{283,1},{139,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atlas_Common.png</string>
            <key>size</key>
            <string>{1977,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e320a1f334263a8a2cc07ea208fd3d54:13bcbd1b3799aaa9ac3572f43500fa4f:727cc7e36af52248bfb927cc4741658d$</string>
            <key>textureFileName</key>
            <string>atlas_Common.png</string>
        </dict>
    </dict>
</plist>
