<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xb_cz_anniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{68,70}</string>
                <key>textureRect</key>
                <string>{{57,92},{68,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_cz_dikuang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,73}</string>
                <key>spriteSourceSize</key>
                <string>{82,73}</string>
                <key>textureRect</key>
                <string>{{196,92},{82,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_cz_dikuang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,52}</string>
                <key>spriteSourceSize</key>
                <string>{50,52}</string>
                <key>textureRect</key>
                <string>{{355,32},{50,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_cz_dikuang3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,109}</string>
                <key>spriteSourceSize</key>
                <string>{122,109}</string>
                <key>textureRect</key>
                <string>{{102,296},{122,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_cz_diwen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,122}</string>
                <key>spriteSourceSize</key>
                <string>{263,122}</string>
                <key>textureRect</key>
                <string>{{226,296},{263,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_cz_gou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,30}</string>
                <key>spriteSourceSize</key>
                <string>{37,30}</string>
                <key>textureRect</key>
                <string>{{365,0},{37,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_cz_gouk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{242,32},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_cz_jia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{41,41}</string>
                <key>textureRect</key>
                <string>{{199,32},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_cz_jian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,9}</string>
                <key>spriteSourceSize</key>
                <string>{41,9}</string>
                <key>textureRect</key>
                <string>{{0,0},{41,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_cz_jinbi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{0,194},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_cz_jinbi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{102,194},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_cz_jinbi3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{280,92},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_cz_jinbi4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{306,194},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_cz_jinbi5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{382,92},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_cz_jinbi6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{204,194},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_cz_jinbi7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{0,296},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_cz_jinbi8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{408,194},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_cz_rmb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{20,26}</string>
                <key>textureRect</key>
                <string>{{343,0},{20,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_cz_shuliang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,16}</string>
                <key>spriteSourceSize</key>
                <string>{169,16}</string>
                <key>textureRect</key>
                <string>{{43,0},{169,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_cz_shuliang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,24}</string>
                <key>spriteSourceSize</key>
                <string>{127,24}</string>
                <key>textureRect</key>
                <string>{{214,0},{127,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_cz_shuzik.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,39}</string>
                <key>spriteSourceSize</key>
                <string>{197,39}</string>
                <key>textureRect</key>
                <string>{{0,32},{197,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_cz_tuodong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,46}</string>
                <key>spriteSourceSize</key>
                <string>{67,46}</string>
                <key>textureRect</key>
                <string>{{286,32},{67,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_cz_yuananniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,67}</string>
                <key>spriteSourceSize</key>
                <string>{55,67}</string>
                <key>textureRect</key>
                <string>{{0,92},{55,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_dianquan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,58}</string>
                <key>spriteSourceSize</key>
                <string>{50,58}</string>
                <key>textureRect</key>
                <string>{{407,32},{50,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_guanbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,73}</string>
                <key>spriteSourceSize</key>
                <string>{67,73}</string>
                <key>textureRect</key>
                <string>{{127,92},{67,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atlas_Pay.png</string>
            <key>size</key>
            <string>{508,418}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ab5ebdcc3605fb1940dad48700728fb:dfd780b2a1702bdb6b74a0bb8ac2ffb2:dc4147575c127a691bbea8fc1732a230$</string>
            <key>textureFileName</key>
            <string>atlas_Pay.png</string>
        </dict>
    </dict>
</plist>
