<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xb_mfcs_csd1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,127}</string>
                <key>spriteSourceSize</key>
                <string>{64,127}</string>
                <key>textureRect</key>
                <string>{{19,0},{64,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_mfcs_csd2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,43}</string>
                <key>spriteSourceSize</key>
                <string>{17,43}</string>
                <key>textureRect</key>
                <string>{{0,0},{17,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_mfcs_xcd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{573,358}</string>
                <key>spriteSourceSize</key>
                <string>{573,358}</string>
                <key>textureRect</key>
                <string>{{365,129},{573,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_mfcs_xcgxhd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,75}</string>
                <key>spriteSourceSize</key>
                <string>{275,75}</string>
                <key>textureRect</key>
                <string>{{162,0},{275,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_mfcs_xcmfcs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{343,50}</string>
                <key>spriteSourceSize</key>
                <string>{343,50}</string>
                <key>textureRect</key>
                <string>{{439,0},{343,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_mfcs_xcxw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,412}</string>
                <key>spriteSourceSize</key>
                <string>{363,412}</string>
                <key>textureRect</key>
                <string>{{0,129},{363,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_mfcs_xcxx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{85,0},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atlas_Joker.png</string>
            <key>size</key>
            <string>{938,541}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7ab626a2c636dc78496d08eda649463:d1f8e057d9d97726ef7d87c464265ba3:043c0f8d6829986d1738a6a67276dbca$</string>
            <key>textureFileName</key>
            <string>atlas_Joker.png</string>
        </dict>
    </dict>
</plist>
