<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>great_bg_ui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,143}</string>
                <key>spriteSourceSize</key>
                <string>{401,143}</string>
                <key>textureRect</key>
                <string>{{764,1},{401,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>great_great.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,143}</string>
                <key>spriteSourceSize</key>
                <string>{401,143}</string>
                <key>textureRect</key>
                <string>{{1,427},{401,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>great_great_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,104}</string>
                <key>spriteSourceSize</key>
                <string>{369,104}</string>
                <key>textureRect</key>
                <string>{{909,1},{369,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>great_great_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{379,118}</string>
                <key>spriteSourceSize</key>
                <string>{381,120}</string>
                <key>textureRect</key>
                <string>{{1,830},{379,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>great_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{761,391}</string>
                <key>spriteSourceSize</key>
                <string>{793,409}</string>
                <key>textureRect</key>
                <string>{{1,1},{761,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>great_star_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{48,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{909,372},{48,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>great_star_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{121,404},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>great_star_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{73,404},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>great_star_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{1009,399},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>great_star_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,22}</string>
                <key>spriteSourceSize</key>
                <string>{23,22}</string>
                <key>textureRect</key>
                <string>{{1,404},{21,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>great_star_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,14}</string>
                <key>spriteSourceSize</key>
                <string>{25,14}</string>
                <key>textureRect</key>
                <string>{{1009,372},{25,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>great_star_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,16}</string>
                <key>spriteSourceSize</key>
                <string>{25,16}</string>
                <key>textureRect</key>
                <string>{{46,404},{25,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>great_star_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{48,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{959,372},{48,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>great_star_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{48,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,950},{48,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>great_star_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{48,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{49,950},{48,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>great_star_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,19}</string>
                <key>spriteSourceSize</key>
                <string>{20,19}</string>
                <key>textureRect</key>
                <string>{{25,404},{20,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>great_star_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{91,404},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>great_star_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,10}</string>
                <key>spriteSourceSize</key>
                <string>{11,10}</string>
                <key>textureRect</key>
                <string>{{109,404},{11,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>great_star_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{1009,413},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>great_star_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{121,415},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>great_ui_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3636684da3e1cf95d788daf811581e4f:d8faa4fa7022e2d91cb410b0b2dd176e:30a8ff9e34a737be32e8b81977b3bccf$</string>
            <key>textureFileName</key>
            <string>great_ui_1.png</string>
        </dict>
    </dict>
</plist>
