<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>danzhu_qiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{21,21}</string>
                <key>textureRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_yx_anniu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,133}</string>
                <key>spriteSourceSize</key>
                <string>{162,133}</string>
                <key>textureRect</key>
                <string>{{159,229},{162,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_yx_anniu2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,97}</string>
                <key>spriteSourceSize</key>
                <string>{146,97}</string>
                <key>textureRect</key>
                <string>{{239,106},{146,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_yx_anniu3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,131}</string>
                <key>spriteSourceSize</key>
                <string>{158,131}</string>
                <key>textureRect</key>
                <string>{{0,229},{158,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_yx_chyk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{287,0},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_yx_chyk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,50}</string>
                <key>spriteSourceSize</key>
                <string>{56,50}</string>
                <key>textureRect</key>
                <string>{{98,0},{56,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_yx_fenlie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{51,0},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_yx_gengduo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{155,0},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_yx_jiguang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,105}</string>
                <key>spriteSourceSize</key>
                <string>{104,105}</string>
                <key>textureRect</key>
                <string>{{358,0},{104,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_yx_qingping.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,141}</string>
                <key>spriteSourceSize</key>
                <string>{163,141}</string>
                <key>textureRect</key>
                <string>{{322,229},{163,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_yx_shandian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,30}</string>
                <key>textureRect</key>
                <string>{{22,0},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_yx_shuangbei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,118}</string>
                <key>spriteSourceSize</key>
                <string>{112,118}</string>
                <key>textureRect</key>
                <string>{{0,106},{112,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_yx_shuliang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,30}</string>
                <key>spriteSourceSize</key>
                <string>{68,30}</string>
                <key>textureRect</key>
                <string>{{218,0},{68,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_yx_zhadan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,122}</string>
                <key>spriteSourceSize</key>
                <string>{125,122}</string>
                <key>textureRect</key>
                <string>{{113,106},{125,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{485,370}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67d390ce14f5838d92b28159342f6f82:a2d36034d7dc260a5f3babc3662b4294:b2cae276934292945ac49b6ea6cfb4fe$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
