<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>danzhu_bx_anniu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,196}</string>
                <key>spriteSourceSize</key>
                <string>{366,196}</string>
                <key>textureRect</key>
                <string>{{0,975},{366,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_bx_anniu2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,160}</string>
                <key>spriteSourceSize</key>
                <string>{179,160}</string>
                <key>textureRect</key>
                <string>{{0,212},{179,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_bx_bofang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,48}</string>
                <key>spriteSourceSize</key>
                <string>{56,48}</string>
                <key>textureRect</key>
                <string>{{174,0},{56,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_cd_anniu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,146}</string>
                <key>spriteSourceSize</key>
                <string>{347,146}</string>
                <key>textureRect</key>
                <string>{{0,462},{347,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_cd_anniu2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{383,182}</string>
                <key>spriteSourceSize</key>
                <string>{383,182}</string>
                <key>textureRect</key>
                <string>{{0,609},{383,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_cd_cundang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{86,0},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_guanbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{21,0},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_jz_jindut1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,9}</string>
                <key>spriteSourceSize</key>
                <string>{396,9}</string>
                <key>textureRect</key>
                <string>{{0,70},{396,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_jz_jindut2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,9}</string>
                <key>spriteSourceSize</key>
                <string>{396,9}</string>
                <key>textureRect</key>
                <string>{{0,60},{396,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_jz_jindut3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{404,17}</string>
                <key>spriteSourceSize</key>
                <string>{404,17}</string>
                <key>textureRect</key>
                <string>{{0,80},{404,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_ks_anniu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,120}</string>
                <key>spriteSourceSize</key>
                <string>{290,120}</string>
                <key>textureRect</key>
                <string>{{180,212},{290,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_ks_anniu2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,184}</string>
                <key>spriteSourceSize</key>
                <string>{416,184}</string>
                <key>textureRect</key>
                <string>{{0,1172},{416,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_ks_bofang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,40}</string>
                <key>spriteSourceSize</key>
                <string>{33,40}</string>
                <key>textureRect</key>
                <string>{{52,0},{33,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_ks_jiantou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,27}</string>
                <key>spriteSourceSize</key>
                <string>{20,27}</string>
                <key>textureRect</key>
                <string>{{0,0},{20,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_shp_anniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{383,182}</string>
                <key>spriteSourceSize</key>
                <string>{383,182}</string>
                <key>textureRect</key>
                <string>{{0,792},{383,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_shp_defen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{453,88}</string>
                <key>spriteSourceSize</key>
                <string>{453,88}</string>
                <key>textureRect</key>
                <string>{{0,373},{453,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_shp_shiping.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,48}</string>
                <key>spriteSourceSize</key>
                <string>{56,48}</string>
                <key>textureRect</key>
                <string>{{231,0},{56,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_xc_kuang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{288,0},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_xc_kuang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,113}</string>
                <key>spriteSourceSize</key>
                <string>{118,113}</string>
                <key>textureRect</key>
                <string>{{256,98},{118,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_xj_anniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{443,182}</string>
                <key>spriteSourceSize</key>
                <string>{443,182}</string>
                <key>textureRect</key>
                <string>{{0,1357},{443,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_xj_jiluanniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,71}</string>
                <key>spriteSourceSize</key>
                <string>{127,71}</string>
                <key>textureRect</key>
                <string>{{0,98},{127,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_xj_qiandai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,52}</string>
                <key>spriteSourceSize</key>
                <string>{44,52}</string>
                <key>textureRect</key>
                <string>{{129,0},{44,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_xj_tixiananniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,71}</string>
                <key>spriteSourceSize</key>
                <string>{127,71}</string>
                <key>textureRect</key>
                <string>{{128,98},{127,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameui.png</string>
            <key>size</key>
            <string>{470,1539}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90d45bd77f3acb137d0da3cde49f8613:e02c9eca08d09862382a783f0a7a4af1:13103c15d0108e7aab1316a48f90f5be$</string>
            <key>textureFileName</key>
            <string>gameui.png</string>
        </dict>
    </dict>
</plist>
