<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>danzhu_gq_faguang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,132}</string>
                <key>spriteSourceSize</key>
                <string>{112,132}</string>
                <key>textureRect</key>
                <string>{{1,67},{112,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_gq_kuangkuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,48}</string>
                <key>spriteSourceSize</key>
                <string>{49,48}</string>
                <key>textureRect</key>
                <string>{{50,1},{49,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_gq_suo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,26}</string>
                <key>textureRect</key>
                <string>{{1,1},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_gq_youbian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,65}</string>
                <key>spriteSourceSize</key>
                <string>{57,65}</string>
                <key>textureRect</key>
                <string>{{100,1},{57,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_gq_zuobian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,35}</string>
                <key>spriteSourceSize</key>
                <string>{25,35}</string>
                <key>textureRect</key>
                <string>{{24,1},{25,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_yx_qingping2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,141}</string>
                <key>spriteSourceSize</key>
                <string>{163,141}</string>
                <key>textureRect</key>
                <string>{{1,200},{163,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guanqia.png</string>
            <key>size</key>
            <string>{165,342}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e65c3ce7b6be5df370025482333ed0d3:1b906fbe3d4d941ea69ba5bd96125e9d:5b0d8119d9169a3c40a1e2e4b7b96192$</string>
            <key>textureFileName</key>
            <string>guanqia.png</string>
        </dict>
    </dict>
</plist>
