<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>12x12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{1,1},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_guanqia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,28}</string>
                <key>spriteSourceSize</key>
                <string>{54,28}</string>
                <key>textureRect</key>
                <string>{{14,1},{54,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_jinbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,76}</string>
                <key>spriteSourceSize</key>
                <string>{73,76}</string>
                <key>textureRect</key>
                <string>{{60,97},{73,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_qi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,35}</string>
                <key>spriteSourceSize</key>
                <string>{38,35}</string>
                <key>textureRect</key>
                <string>{{69,1},{38,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_qi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,50}</string>
                <key>spriteSourceSize</key>
                <string>{58,50}</string>
                <key>textureRect</key>
                <string>{{1,97},{58,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_sx_jt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,48}</string>
                <key>spriteSourceSize</key>
                <string>{43,48}</string>
                <key>textureRect</key>
                <string>{{182,48},{43,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_sx_kuzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,82}</string>
                <key>spriteSourceSize</key>
                <string>{97,82}</string>
                <key>textureRect</key>
                <string>{{1,178},{97,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_sx_maozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,112}</string>
                <key>spriteSourceSize</key>
                <string>{108,112}</string>
                <key>textureRect</key>
                <string>{{102,467},{108,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_sx_shuaxin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,97}</string>
                <key>spriteSourceSize</key>
                <string>{117,97}</string>
                <key>textureRect</key>
                <string>{{1,366},{117,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_sx_shuzik.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,46}</string>
                <key>spriteSourceSize</key>
                <string>{180,46}</string>
                <key>textureRect</key>
                <string>{{1,48},{180,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_sx_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,91}</string>
                <key>spriteSourceSize</key>
                <string>{90,91}</string>
                <key>textureRect</key>
                <string>{{99,178},{90,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_sx_xiezi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,95}</string>
                <key>spriteSourceSize</key>
                <string>{85,95}</string>
                <key>textureRect</key>
                <string>{{109,270},{85,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_sx_xzkuang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,38}</string>
                <key>spriteSourceSize</key>
                <string>{48,38}</string>
                <key>textureRect</key>
                <string>{{108,1},{48,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_sx_yaodai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,93}</string>
                <key>spriteSourceSize</key>
                <string>{107,93}</string>
                <key>textureRect</key>
                <string>{{1,270},{107,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_sx_yifu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,100}</string>
                <key>spriteSourceSize</key>
                <string>{103,100}</string>
                <key>textureRect</key>
                <string>{{119,366},{103,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_sx_zbkuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{134,97},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_sx_zbkuang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,467},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_yx_bianda.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{157,1},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player.png</string>
            <key>size</key>
            <string>{226,580}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4f610b32312fbab74f354a1a0388f84:fb506055702f4b9a1fc9ab431a7469dc:6f6c59c3c6b7e98e5fb22e47122cb74a$</string>
            <key>textureFileName</key>
            <string>player.png</string>
        </dict>
    </dict>
</plist>
