<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guanyun.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,324},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>shanguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,126}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xinguan_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,432},{66,78}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,22},{66,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xinguan_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,432},{64,78}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,22},{64,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xinguan_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,246},{64,84}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,22},{64,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xinguan_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,246},{76,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,17},{76,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xinguan_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{74,98}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,14},{74,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xinguan_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{86,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{86,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xinguan_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,332},{90,98}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{90,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xinguan_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,214},{80,104}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,9},{80,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xinguan_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{96,116}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{96,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xinguan_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,36},{98,118}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{98,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xinguan_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{102,122}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{102,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xinguan_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{102,124}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{102,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xinguan_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,144},{110,100}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,27},{110,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xinguan_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{112,102}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,26},{112,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xinguan_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,142},{114,102}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,26},{114,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xinguan_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,174},{108,38}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,31},{108,38}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xinguan_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,136},{112,36}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{112,36}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xinguan_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,106},{116,36}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,31},{116,36}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xinguan_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,106},{118,34}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,31},{118,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xinguan_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{120,32}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,31},{120,32}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xinguan_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{6,6}}</string>
                <key>offset</key>
                <string>{60,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,33},{6,6}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ef_fanpai.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b010cc42210cb4001524ae3e38b7313$</string>
            <key>textureFileName</key>
            <string>ef_fanpai.png</string>
        </dict>
    </dict>
</plist>
