<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yan_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,42},{34,38}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{34,38}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>yan_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{38,38}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{38,38}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>yan_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,50},{44,38}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,15},{44,38}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>yan_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{46,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,14},{46,38}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>yan_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,54},{48,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,14},{48,38}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>yan_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{50,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,14},{50,36}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>yan_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,34}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,16},{52,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>yan_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{50,30}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,19},{50,30}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>yan_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,54},{50,20}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,28},{50,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>yan_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{50,16}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{50,16}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ef_guaichuxian.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4db477e62c33f386036360fe123896dd$</string>
            <key>textureFileName</key>
            <string>ef_guaichuxian.png</string>
        </dict>
    </dict>
</plist>
