<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dandao_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,32}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{110,32}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>xian01_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{94,48}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{94,48}}</string>
                <key>sourceSize</key>
                <string>{150,64}</string>
            </dict>
            <key>xian01_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{126,30}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,19},{126,30}}</string>
                <key>sourceSize</key>
                <string>{150,64}</string>
            </dict>
            <key>xian01_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,98},{128,14}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,27},{128,14}}</string>
                <key>sourceSize</key>
                <string>{150,64}</string>
            </dict>
            <key>xian01_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{94,8}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,29},{94,8}}</string>
                <key>sourceSize</key>
                <string>{150,64}</string>
            </dict>
            <key>xian01_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,114},{66,6}}</string>
                <key>offset</key>
                <string>{29,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,30},{66,6}}</string>
                <key>sourceSize</key>
                <string>{150,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ef_huanongxinglianqiujun.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8af3e568146264c70b7e761afab57620$</string>
            <key>textureFileName</key>
            <string>ef_huanongxinglianqiujun.png</string>
        </dict>
    </dict>
</plist>
