<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kapaixiaoshi_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{54,46}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,41},{54,46}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>kapaixiaoshi_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,84},{80,74}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,27},{80,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>kapaixiaoshi_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{80,74}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,27},{80,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>kapaixiaoshi_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,320},{84,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,25},{84,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>kapaixiaoshi_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,224},{96,94}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{96,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>kapaixiaoshi_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,128},{96,94}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{96,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>kapaixiaoshi_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{114,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,13},{114,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>kapaixiaoshi_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,124},{124,120}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{124,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>kapaixiaoshi_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{124,120}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{124,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>kapaixiaoshi_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{124,120}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{124,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>kapaixiaoshi_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{126,124}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{126,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>kapaixiaoshi_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{126,128}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{126,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>kapaixiaoshi_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{126,128}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{126,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>kapaixiaoshi_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,128}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{126,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>shangguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,392},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ef_kaipaixiaoshi.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5ccb7fd6db0f35a70f18f71e6fa393d$</string>
            <key>textureFileName</key>
            <string>ef_kaipaixiaoshi.png</string>
        </dict>
    </dict>
</plist>
