<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dilie.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,70}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>huo_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,256},{36,54}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{36,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>huo_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,216},{38,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{38,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>huo_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,308},{42,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{42,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>huo_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,200},{50,60}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{50,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>huo_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,288},{52,58}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{52,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>huo_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,252},{54,58}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{54,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>huo_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,212},{56,58}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{56,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>huo_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,204},{56,58}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{56,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>huo_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,204},{54,58}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{54,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>huo_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{38,54}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{38,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>huo_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,348},{40,52}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{40,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>huo_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,212},{36,26}}</string>
                <key>offset</key>
                <string>{-14,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{36,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>huo_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,250},{32,24}}</string>
                <key>offset</key>
                <string>{-16,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{32,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>huo_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,82},{14,12}}</string>
                <key>offset</key>
                <string>{-25,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{14,12}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>huoqiu_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{118,54}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{118,54}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>huoqiu_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{120,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{120,56}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>huoqiu_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,150},{114,52}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{114,52}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>huoqiu_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{114,52}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{114,52}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>jianshe_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,116},{102,82}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{102,82}}</string>
                <key>sourceSize</key>
                <string>{128,90}</string>
            </dict>
            <key>jianshe_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{126,78}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,78}}</string>
                <key>sourceSize</key>
                <string>{128,90}</string>
            </dict>
            <key>jianshe_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,82},{120,76}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{120,76}}</string>
                <key>sourceSize</key>
                <string>{128,90}</string>
            </dict>
            <key>jianshe_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,160},{88,50}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,14},{88,50}}</string>
                <key>sourceSize</key>
                <string>{128,90}</string>
            </dict>
            <key>shitou_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,110},{28,26}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,23},{28,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>shitou_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,198},{34,30}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{34,30}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>shitou_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,308},{44,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{44,36}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>shitou_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,246},{48,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{48,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>shitou_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,242},{54,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{54,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>shitou_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{56,42}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{56,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>shitou_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,138},{58,30}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,17},{58,30}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>shitou_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,320},{14,22}}</string>
                <key>offset</key>
                <string>{-24,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,15},{14,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>xian_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{112,98}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,22},{112,98}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>xian_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{128,68}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{128,68}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>xian_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,72},{120,76}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{120,76}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>yan_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,264},{18,22}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,35},{18,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>yan_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,312},{22,38}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,20},{22,38}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>yan_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,288},{30,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,5},{30,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>yan_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,160},{36,54}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{36,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>yan_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,276},{40,52}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{40,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>yan_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,200},{44,50}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{44,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>yan_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,262},{44,46}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{44,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>yan_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,264},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{44,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>yan_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,74},{34,28}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,13},{34,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>yan_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,230},{32,24}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{32,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ef_Txibao.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2e030e440d33d23e47d3d32ca15e652$</string>
            <key>textureFileName</key>
            <string>ef_Txibao.png</string>
        </dict>
    </dict>
</plist>
