<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guanyun02.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,128},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>quan.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,156},{110,110}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{110,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>shanguan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{124,64}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{124,64}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>shexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,268},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{118,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xb_zfl_di1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{294,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{294,307}}</string>
                <key>sourceSize</key>
                <string>{296,307}</string>
            </dict>
            <key>xb_zfl_di2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{420,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,152}}</string>
                <key>sourceSize</key>
                <string>{420,152}</string>
            </dict>
            <key>xb_zfl_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{249,259}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{249,259}}</string>
                <key>sourceSize</key>
                <string>{251,261}</string>
            </dict>
            <key>xb_zfl_guang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{274,270}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{274,270}}</string>
                <key>sourceSize</key>
                <string>{278,278}</string>
            </dict>
            <key>xb_zfl_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,388},{240,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,98}}</string>
                <key>sourceSize</key>
                <string>{240,98}</string>
            </dict>
            <key>xiaochou.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,630},{226,257}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{226,257}}</string>
                <key>sourceSize</key>
                <string>{228,259}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ef_zhuanfanle.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b3e76e5d7640ff7cc90e6119e55f0d1$</string>
            <key>textureFileName</key>
            <string>ef_zhuanfanle.png</string>
        </dict>
    </dict>
</plist>
