<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xb_yx_bxb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{228,278}</string>
                <key>spriteSourceSize</key>
                <string>{228,292}</string>
                <key>textureRect</key>
                <string>{{197,1},{228,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_yx_bxb2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,85}</string>
                <key>spriteSourceSize</key>
                <string>{89,85}</string>
                <key>textureRect</key>
                <string>{{399,704},{89,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_yx_bxbtou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,141}</string>
                <key>spriteSourceSize</key>
                <string>{151,141}</string>
                <key>textureRect</key>
                <string>{{212,429},{151,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_yx_bzd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,296}</string>
                <key>spriteSourceSize</key>
                <string>{209,296}</string>
                <key>textureRect</key>
                <string>{{1,324},{209,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_yx_bzd2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,87}</string>
                <key>spriteSourceSize</key>
                <string>{91,87}</string>
                <key>textureRect</key>
                <string>{{365,525},{91,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_yx_hxb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,237}</string>
                <key>spriteSourceSize</key>
                <string>{194,237}</string>
                <key>textureRect</key>
                <string>{{203,622},{194,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_yx_hxb2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,90}</string>
                <key>spriteSourceSize</key>
                <string>{87,90}</string>
                <key>textureRect</key>
                <string>{{369,281},{87,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_yx_hxbtou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,136}</string>
                <key>spriteSourceSize</key>
                <string>{148,136}</string>
                <key>textureRect</key>
                <string>{{316,861},{148,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_yx_txb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{194,321}</string>
                <key>spriteSourceSize</key>
                <string>{194,333}</string>
                <key>textureRect</key>
                <string>{{1,1},{194,321}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_yx_txb2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,94}</string>
                <key>spriteSourceSize</key>
                <string>{92,94}</string>
                <key>textureRect</key>
                <string>{{365,429},{92,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_yx_txbtou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,146}</string>
                <key>spriteSourceSize</key>
                <string>{155,146}</string>
                <key>textureRect</key>
                <string>{{212,281},{155,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_yx_wmtou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,138}</string>
                <key>spriteSourceSize</key>
                <string>{154,138}</string>
                <key>textureRect</key>
                <string>{{160,861},{154,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_yx_xxb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,221}</string>
                <key>spriteSourceSize</key>
                <string>{200,221}</string>
                <key>textureRect</key>
                <string>{{1,622},{200,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_yx_xxb2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,88}</string>
                <key>spriteSourceSize</key>
                <string>{89,88}</string>
                <key>textureRect</key>
                <string>{{399,614},{89,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_yx_xxbtou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,140}</string>
                <key>spriteSourceSize</key>
                <string>{157,140}</string>
                <key>textureRect</key>
                <string>{{1,845},{157,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atlas_Cell.png</string>
            <key>size</key>
            <string>{489,1000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b117585d4c56a17822da11eb8c5edc28:9653d1819e384902a5f4445d213d739b:3583216768cadaae5d2382ce17a58f39$</string>
            <key>textureFileName</key>
            <string>atlas_Cell.png</string>
        </dict>
    </dict>
</plist>
