<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xb_sm_cj1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,135}</string>
                <key>spriteSourceSize</key>
                <string>{512,135}</string>
                <key>textureRect</key>
                <string>{{1,1},{512,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_sm_cj2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,135}</string>
                <key>spriteSourceSize</key>
                <string>{512,135}</string>
                <key>textureRect</key>
                <string>{{1,138},{512,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_sm_cj3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,135}</string>
                <key>spriteSourceSize</key>
                <string>{512,135}</string>
                <key>textureRect</key>
                <string>{{1,275},{512,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_sm_cj4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,135}</string>
                <key>spriteSourceSize</key>
                <string>{512,135}</string>
                <key>textureRect</key>
                <string>{{1,412},{512,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_sm_cjf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,40}</string>
                <key>spriteSourceSize</key>
                <string>{39,40}</string>
                <key>textureRect</key>
                <string>{{515,480},{39,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_sm_cjpf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,51}</string>
                <key>spriteSourceSize</key>
                <string>{65,51}</string>
                <key>textureRect</key>
                <string>{{629,316},{65,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_sm_cjw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,39}</string>
                <key>spriteSourceSize</key>
                <string>{37,39}</string>
                <key>textureRect</key>
                <string>{{556,480},{37,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_sm_cjxz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,51}</string>
                <key>spriteSourceSize</key>
                <string>{64,51}</string>
                <key>textureRect</key>
                <string>{{629,369},{64,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_sm_cjzd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,67}</string>
                <key>spriteSourceSize</key>
                <string>{112,67}</string>
                <key>textureRect</key>
                <string>{{515,316},{112,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_sm_dise1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,49}</string>
                <key>spriteSourceSize</key>
                <string>{179,49}</string>
                <key>textureRect</key>
                <string>{{515,141},{179,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_sm_fenye1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,68}</string>
                <key>spriteSourceSize</key>
                <string>{191,68}</string>
                <key>textureRect</key>
                <string>{{515,1},{191,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_sm_fenye2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,68}</string>
                <key>spriteSourceSize</key>
                <string>{191,68}</string>
                <key>textureRect</key>
                <string>{{515,71},{191,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_sm_kuang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,47}</string>
                <key>spriteSourceSize</key>
                <string>{52,47}</string>
                <key>textureRect</key>
                <string>{{515,522},{52,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_sm_kuang11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,122}</string>
                <key>spriteSourceSize</key>
                <string>{164,122}</string>
                <key>textureRect</key>
                <string>{{515,192},{164,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_sm_kuang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,93}</string>
                <key>spriteSourceSize</key>
                <string>{102,93}</string>
                <key>textureRect</key>
                <string>{{515,385},{102,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_sm_kuang3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,47}</string>
                <key>spriteSourceSize</key>
                <string>{52,47}</string>
                <key>textureRect</key>
                <string>{{569,522},{52,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_sm_kuang4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,47}</string>
                <key>spriteSourceSize</key>
                <string>{52,47}</string>
                <key>textureRect</key>
                <string>{{623,522},{52,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_sm_tujian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,98}</string>
                <key>spriteSourceSize</key>
                <string>{83,98}</string>
                <key>textureRect</key>
                <string>{{619,422},{83,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_sm_xian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,20}</string>
                <key>spriteSourceSize</key>
                <string>{43,20}</string>
                <key>textureRect</key>
                <string>{{1,549},{43,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_sm_xingxing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,24}</string>
                <key>spriteSourceSize</key>
                <string>{25,24}</string>
                <key>textureRect</key>
                <string>{{681,192},{25,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atlas_Rule.png</string>
            <key>size</key>
            <string>{707,570}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07c8b47f8bdf1cf2a208b10a519f5fe8:0e5303d5ccc9bcf6aa36fc67564ed617:8660aff0e2ee88f45537bd11ee052710$</string>
            <key>textureFileName</key>
            <string>atlas_Rule.png</string>
        </dict>
    </dict>
</plist>
