<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xian_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{88,40}}</string>
                <key>offset</key>
                <string>{-11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,51},{88,40}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xian_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,114},{94,54}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,43},{94,54}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xian_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,110}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{106,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xian_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{98,86}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,18},{98,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xian_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,106},{86,86}}</string>
                <key>offset</key>
                <string>{-21,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{86,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xian_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{78,88}}</string>
                <key>offset</key>
                <string>{-21,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,15},{78,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xian_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,210},{40,26}}</string>
                <key>offset</key>
                <string>{-38,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,57},{40,26}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xian_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,210},{42,28}}</string>
                <key>offset</key>
                <string>{-37,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,58},{42,28}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xian_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{34,24}}</string>
                <key>offset</key>
                <string>{-41,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,59},{34,24}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xian_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,82},{28,22}}</string>
                <key>offset</key>
                <string>{-42,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,59},{28,22}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xian_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,82},{16,22}}</string>
                <key>offset</key>
                <string>{-47,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,60},{16,22}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ef_lvnongganjun.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcc2b617c69d9b63c1952a652f46751e$</string>
            <key>textureFileName</key>
            <string>ef_lvnongganjun.png</string>
        </dict>
    </dict>
</plist>
