<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhuan_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,140},{60,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{60,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zhuan_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,94},{60,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{60,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zhuan_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{62,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{62,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zhuan_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{62,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{62,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zhuan_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{62,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{62,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zhuan_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{62,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{62,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zhuan_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{62,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{62,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zhuan_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{62,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zhuan_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,94},{60,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{60,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zhuan_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,156},{60,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{60,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zhuan_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,94},{60,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{60,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zhuan_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,48},{60,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{60,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zhuan_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,48},{60,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{60,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zhuan_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,48},{60,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{60,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zhuan_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{60,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{60,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ef_zidonzhon.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e38fc013bbd0c27ac8a337ac8661324$</string>
            <key>textureFileName</key>
            <string>ef_zidonzhon.png</string>
        </dict>
    </dict>
</plist>
