<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{838,594}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{838,594}}</string>
                <key>sourceSize</key>
                <string>{838,594}</string>
            </dict>
            <key>ali.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,842},{122,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,120}}</string>
                <key>sourceSize</key>
                <string>{122,120}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,842},{73,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,72}}</string>
                <key>sourceSize</key>
                <string>{73,72}</string>
            </dict>
            <key>neik.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,842},{76,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,79}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>pay.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,916},{102,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,55}}</string>
                <key>sourceSize</key>
                <string>{102,55}</string>
            </dict>
            <key>pay_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,952},{276,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,65}}</string>
                <key>sourceSize</key>
                <string>{276,65}</string>
            </dict>
            <key>recomand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,969},{83,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,33}}</string>
                <key>sourceSize</key>
                <string>{83,33}</string>
            </dict>
            <key>recomand_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,969},{70,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,26}}</string>
                <key>sourceSize</key>
                <string>{70,26}</string>
            </dict>
            <key>wx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{119,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,125}}</string>
                <key>sourceSize</key>
                <string>{119,125}</string>
            </dict>
            <key>yl.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,842},{186,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,108}}</string>
                <key>sourceSize</key>
                <string>{186,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>payMode.png</string>
            <key>size</key>
            <string>{598,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68b35584673eced72c8fc5098627c5fb$</string>
            <key>textureFileName</key>
            <string>payMode.png</string>
        </dict>
    </dict>
</plist>
