<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ef_baixibao_bishou_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{92,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,42},{92,42}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ef_baixibao_dg01_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{114,50}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,42},{114,50}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ef_baixibao_dg01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,118},{112,78}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,14},{112,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ef_baixibao_dg01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,158},{82,90}}</string>
                <key>offset</key>
                <string>{8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,1},{82,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ef_baixibao_dg01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,150},{80,86}}</string>
                <key>offset</key>
                <string>{6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,2},{80,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ef_baixibao_dg01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{68,78}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,2},{68,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ef_baixibao_dg02_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,164},{54,50}}</string>
                <key>offset</key>
                <string>{26,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,33},{54,50}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ef_baixibao_dg02_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{106,64}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,31},{106,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ef_baixibao_dg02_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{122,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,30},{122,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ef_baixibao_dg02_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,134},{120,56}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,41},{120,56}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ef_baixibao_dg02_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,72},{70,38}}</string>
                <key>offset</key>
                <string>{21,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,54},{70,38}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ef_baixibao_guang01_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,126},{42,120}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,48},{42,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ef_baixibao_guang01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,154}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,12},{46,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ef_baixibao_guang01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{40,146}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,12},{40,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ef_baixibao_guang01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{40,134}}</string>
                <key>offset</key>
                <string>{-6,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,12},{40,134}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ef_baixibao_guang01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{40,130}}</string>
                <key>offset</key>
                <string>{-6,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,11},{40,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ef_baixibao_quan01_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,164},{52,48}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,77},{52,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ef_baixibao_quan01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,112},{54,50}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,76},{54,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ef_baixibao_quan01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,112},{54,50}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,74},{54,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ef_baixibao_quan01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,214},{36,48}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,76},{36,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ef_baixibao_quan01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,220},{28,46}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,77},{28,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ef_baixibao_quan01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,232},{18,44}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,78},{18,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ef_baixibao_yingzi_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{150,46}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,73},{150,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ef_BaiXiBao.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:046dfef44280cd3344b653c55a1bb40b$</string>
            <key>textureFileName</key>
            <string>ef_BaiXiBao.png</string>
        </dict>
    </dict>
</plist>
