<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guanyun01.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,416},{56,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{56,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>lizi_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,354},{58,26}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{58,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>lizi_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,362},{58,26}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{58,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>lizi_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,414},{56,26}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{56,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>lizi_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,390},{58,24}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{58,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>lizi_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,326},{58,26}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{58,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>lizi_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,200},{56,34}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{56,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>lizi_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,234},{58,28}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{58,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>lizi_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,176},{58,30}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{58,30}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>lizi_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,326},{60,26}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{60,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>lizi_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,324},{60,28}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{60,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>lizi_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,220},{62,30}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{62,30}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>lizi_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,468},{62,34}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{62,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>lizi_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,156},{60,32}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{60,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>lizi_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,468},{60,34}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{60,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>lizi_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{60,32}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,19},{60,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>shanguan_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{118,108}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,19},{118,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xian_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,128}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{58,128}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>xianguan1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{90,58}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,42},{90,58}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xianguan1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,176},{82,56}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,44},{82,56}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xianguan1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,234},{70,60}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,40},{70,60}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xianguan1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{72,52}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,48},{72,52}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xianguan1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,460},{78,48}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,52},{78,48}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xianguan1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,454},{86,56}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,50},{86,56}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xianguan1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,252},{100,68}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,42},{100,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xianguan1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,362},{104,76}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,34},{104,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xianguan1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,102},{96,64}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,38},{96,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xianguan1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,354},{88,58}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,44},{88,58}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xianguan1_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,116},{82,58}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,44},{82,58}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xianguan1_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,56},{82,58}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,44},{82,58}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xianguan1_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,236},{86,64}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,38},{86,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xianguan1_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,356},{102,78}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,26},{102,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xianguan1_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{114,82}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,18},{114,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xinguan2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,354},{98,90}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,27},{98,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xinguan2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{88,90}}</string>
                <key>offset</key>
                <string>{17,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,27},{88,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xinguan2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,444},{72,66}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,34},{72,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xinguan2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,94},{80,60}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,31},{80,60}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xinguan2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{88,98}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,16},{88,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xinguan2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,94},{82,90}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,24},{82,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xinguan2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,118},{100,82}}</string>
                <key>offset</key>
                <string>{13,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,29},{100,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xinguan2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,252},{102,86}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,19},{102,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xinguan2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{104,108}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{104,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xinguan2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{80,104}}</string>
                <key>offset</key>
                <string>{10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,24},{80,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xinguan2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,236},{88,82}}</string>
                <key>offset</key>
                <string>{15,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,28},{88,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xinguan2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,306},{60,54}}</string>
                <key>offset</key>
                <string>{34,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,33},{60,54}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xinguan2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{60,42}}</string>
                <key>offset</key>
                <string>{34,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,37},{60,42}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xinguan2_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,220},{58,30}}</string>
                <key>offset</key>
                <string>{33,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,37},{58,30}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ef_baoxian.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f981cf35a9dd0a5b6464b1d1684b86f5$</string>
            <key>textureFileName</key>
            <string>ef_baoxian.png</string>
        </dict>
    </dict>
</plist>
