<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huo_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,294},{244,92}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{244,92}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>huo_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{250,92}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{250,92}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>huo_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,100},{252,92}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{252,92}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>huo_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{252,96}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{252,96}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>huo_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{252,96}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{252,96}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>huo_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{250,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{250,90}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>huo_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,94}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{254,94}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>huo_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,194},{250,98}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{250,98}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ef_huoyan2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:289da4752fa80f8f17e52676cc528680$</string>
            <key>textureFileName</key>
            <string>ef_huoyan2.png</string>
        </dict>
    </dict>
</plist>
