<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shouji01_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,228},{122,112}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{122,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>shouji01_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{128,122}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>shouji01_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,116},{128,110}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{128,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>shouji01_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{114,124}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{114,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>shouji01_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{118,126}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>shouji01_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{98,86}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{98,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>shouji01_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,336},{98,86}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{98,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>shouji01_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,424},{96,64}}</string>
                <key>offset</key>
                <string>{6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{96,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>shouji01_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,346},{62,52}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,27},{62,52}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>shouji02_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{122,116}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{122,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>shouji02_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,126}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>shouji02_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{128,112}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{128,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>shouji02_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,130},{116,126}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{116,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>shouji02_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,126},{120,126}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{120,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>shouji02_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,248},{98,86}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,25},{98,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>shouji02_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,258},{98,86}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,24},{98,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>shouji02_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,424},{96,64}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,22},{96,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>shouji02_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{62,52}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,30},{62,52}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ef_shouji01.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6002bff7289081cdb8e03f0501a18b61$</string>
            <key>textureFileName</key>
            <string>ef_shouji01.png</string>
        </dict>
    </dict>
</plist>
