<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>+.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{610,812},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>awardB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,121}</string>
                <key>spriteSourceSize</key>
                <string>{120,121}</string>
                <key>textureRect</key>
                <string>{{859,708},{120,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,64}</string>
                <key>spriteSourceSize</key>
                <string>{205,64}</string>
                <key>textureRect</key>
                <string>{{652,727},{205,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>db.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1034,641}</string>
                <key>spriteSourceSize</key>
                <string>{1034,641}</string>
                <key>textureRect</key>
                <string>{{2,2},{1034,641}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dbk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1034,630}</string>
                <key>spriteSourceSize</key>
                <string>{1034,630}</string>
                <key>textureRect</key>
                <string>{{1038,2},{1034,630}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dim.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,85}</string>
                <key>spriteSourceSize</key>
                <string>{83,85}</string>
                <key>textureRect</key>
                <string>{{859,831},{83,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>firstAward.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,54}</string>
                <key>spriteSourceSize</key>
                <string>{203,54}</string>
                <key>textureRect</key>
                <string>{{981,708},{203,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>firstAward_w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,61}</string>
                <key>spriteSourceSize</key>
                <string>{271,61}</string>
                <key>textureRect</key>
                <string>{{1670,656},{271,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>get.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,64}</string>
                <key>spriteSourceSize</key>
                <string>{205,64}</string>
                <key>textureRect</key>
                <string>{{652,793},{205,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>get_w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,64}</string>
                <key>spriteSourceSize</key>
                <string>{205,64}</string>
                <key>textureRect</key>
                <string>{{610,904},{205,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{494,911},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mouthTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,54}</string>
                <key>spriteSourceSize</key>
                <string>{99,54}</string>
                <key>textureRect</key>
                <string>{{598,970},{99,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mouthTitle_w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,61}</string>
                <key>spriteSourceSize</key>
                <string>{212,61}</string>
                <key>textureRect</key>
                <string>{{820,645},{212,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text1_z.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,43}</string>
                <key>spriteSourceSize</key>
                <string>{490,43}</string>
                <key>textureRect</key>
                <string>{{2,911},{490,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text1_z_w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{701,41}</string>
                <key>spriteSourceSize</key>
                <string>{701,41}</string>
                <key>textureRect</key>
                <string>{{1770,2},{701,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text2_z.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{606,97}</string>
                <key>spriteSourceSize</key>
                <string>{606,97}</string>
                <key>textureRect</key>
                <string>{{2,812},{606,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text2_z_w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{648,83}</string>
                <key>spriteSourceSize</key>
                <string>{648,83}</string>
                <key>textureRect</key>
                <string>{{2,727},{648,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text3_z.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{652,98}</string>
                <key>spriteSourceSize</key>
                <string>{652,98}</string>
                <key>textureRect</key>
                <string>{{1670,2},{652,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text3_z_w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{816,80}</string>
                <key>spriteSourceSize</key>
                <string>{816,80}</string>
                <key>textureRect</key>
                <string>{{2,645},{816,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weekVipTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,54}</string>
                <key>spriteSourceSize</key>
                <string>{101,54}</string>
                <key>textureRect</key>
                <string>{{1670,929},{101,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>weekVipTitle_w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,63}</string>
                <key>spriteSourceSize</key>
                <string>{267,63}</string>
                <key>textureRect</key>
                <string>{{1733,705},{267,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>x30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,38}</string>
                <key>spriteSourceSize</key>
                <string>{77,38}</string>
                <key>textureRect</key>
                <string>{{699,970},{77,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yueAward.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,43}</string>
                <key>spriteSourceSize</key>
                <string>{223,43}</string>
                <key>textureRect</key>
                <string>{{610,859},{223,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yueAward_w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{443,46}</string>
                <key>spriteSourceSize</key>
                <string>{443,46}</string>
                <key>textureRect</key>
                <string>{{2,956},{443,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>firstBuyAward.png</string>
            <key>size</key>
            <string>{1813,1038}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c9680c1ffdba5241adec644a3e6aed5:b9ffdaadbdc0b156cbc83f15d312a669:7e3dbc6169f1408ab671e2316c37e472$</string>
            <key>textureFileName</key>
            <string>firstBuyAward.png</string>
        </dict>
    </dict>
</plist>
