<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>adv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,136}</string>
                <key>spriteSourceSize</key>
                <string>{120,136}</string>
                <key>textureRect</key>
                <string>{{160,1416},{120,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_GouMai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,61}</string>
                <key>spriteSourceSize</key>
                <string>{229,61}</string>
                <key>textureRect</key>
                <string>{{434,1407},{229,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_YeQian01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,78}</string>
                <key>spriteSourceSize</key>
                <string>{257,78}</string>
                <key>textureRect</key>
                <string>{{270,908},{257,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_YeQian02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,66}</string>
                <key>spriteSourceSize</key>
                <string>{247,66}</string>
                <key>textureRect</key>
                <string>{{270,1167},{247,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>iconRed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,216}</string>
                <key>spriteSourceSize</key>
                <string>{230,216}</string>
                <key>textureRect</key>
                <string>{{1457,626},{230,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_Ban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1531,156}</string>
                <key>spriteSourceSize</key>
                <string>{1531,156}</string>
                <key>textureRect</key>
                <string>{{2,2},{1531,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_BaoShi01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,238}</string>
                <key>spriteSourceSize</key>
                <string>{230,238}</string>
                <key>textureRect</key>
                <string>{{338,1167},{230,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_BaoShi02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,238}</string>
                <key>spriteSourceSize</key>
                <string>{230,238}</string>
                <key>textureRect</key>
                <string>{{350,908},{230,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_BaoShi03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,238}</string>
                <key>spriteSourceSize</key>
                <string>{230,238}</string>
                <key>textureRect</key>
                <string>{{570,1148},{230,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_BaoShi04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,238}</string>
                <key>spriteSourceSize</key>
                <string>{230,238}</string>
                <key>textureRect</key>
                <string>{{529,626},{230,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_BaoShi05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,238}</string>
                <key>spriteSourceSize</key>
                <string>{230,238}</string>
                <key>textureRect</key>
                <string>{{582,866},{230,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_BaoShi06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,238}</string>
                <key>spriteSourceSize</key>
                <string>{230,238}</string>
                <key>textureRect</key>
                <string>{{761,626},{230,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_BaoShiDe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,63}</string>
                <key>spriteSourceSize</key>
                <string>{60,63}</string>
                <key>textureRect</key>
                <string>{{372,1407},{60,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_BiaoQian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,49}</string>
                <key>spriteSourceSize</key>
                <string>{232,49}</string>
                <key>textureRect</key>
                <string>{{339,1506},{232,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_BiaoTi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{393,108}</string>
                <key>spriteSourceSize</key>
                <string>{393,108}</string>
                <key>textureRect</key>
                <string>{{160,626},{393,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_BiaoTi__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{393,108}</string>
                <key>spriteSourceSize</key>
                <string>{393,108}</string>
                <key>textureRect</key>
                <string>{{160,1021},{393,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_HeiDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,38}</string>
                <key>spriteSourceSize</key>
                <string>{235,38}</string>
                <key>textureRect</key>
                <string>{{1641,76},{235,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_HongBaoQuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{282,1416},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_HongBaoQuan01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,157}</string>
                <key>spriteSourceSize</key>
                <string>{191,157}</string>
                <key>textureRect</key>
                <string>{{665,1388},{191,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_HongBaoQuan01_w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,157}</string>
                <key>spriteSourceSize</key>
                <string>{191,157}</string>
                <key>textureRect</key>
                <string>{{858,1346},{191,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_HongBaoQuan02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,157}</string>
                <key>spriteSourceSize</key>
                <string>{191,157}</string>
                <key>textureRect</key>
                <string>{{1017,1346},{191,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_HongBaoQuan02_w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,157}</string>
                <key>spriteSourceSize</key>
                <string>{191,157}</string>
                <key>textureRect</key>
                <string>{{1176,1346},{191,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_HongBaoQuan03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,157}</string>
                <key>spriteSourceSize</key>
                <string>{191,157}</string>
                <key>textureRect</key>
                <string>{{1457,858},{191,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_HongBaoQuan03_w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,157}</string>
                <key>spriteSourceSize</key>
                <string>{191,157}</string>
                <key>textureRect</key>
                <string>{{1278,866},{191,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_HongBaoQuan04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,157}</string>
                <key>spriteSourceSize</key>
                <string>{191,157}</string>
                <key>textureRect</key>
                <string>{{1266,1106},{191,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_HongBaoQuan04_w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,157}</string>
                <key>spriteSourceSize</key>
                <string>{191,157}</string>
                <key>textureRect</key>
                <string>{{1437,1017},{191,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_HongBaoQuan05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,157}</string>
                <key>spriteSourceSize</key>
                <string>{191,157}</string>
                <key>textureRect</key>
                <string>{{1425,1176},{191,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_HongBaoQuan05_w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,157}</string>
                <key>spriteSourceSize</key>
                <string>{191,157}</string>
                <key>textureRect</key>
                <string>{{1335,1335},{191,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_HongBaoQuan06_w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,157}</string>
                <key>spriteSourceSize</key>
                <string>{191,157}</string>
                <key>textureRect</key>
                <string>{{1494,1335},{191,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_JinBi01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,238}</string>
                <key>spriteSourceSize</key>
                <string>{230,238}</string>
                <key>textureRect</key>
                <string>{{802,1106},{230,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_JinBi02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,238}</string>
                <key>spriteSourceSize</key>
                <string>{230,238}</string>
                <key>textureRect</key>
                <string>{{814,866},{230,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_JinBi03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,238}</string>
                <key>spriteSourceSize</key>
                <string>{230,238}</string>
                <key>textureRect</key>
                <string>{{993,626},{230,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_JinBi04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,238}</string>
                <key>spriteSourceSize</key>
                <string>{230,238}</string>
                <key>textureRect</key>
                <string>{{1034,1106},{230,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_JinBi05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,238}</string>
                <key>spriteSourceSize</key>
                <string>{230,238}</string>
                <key>textureRect</key>
                <string>{{1046,866},{230,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_JinBi06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,238}</string>
                <key>spriteSourceSize</key>
                <string>{230,238}</string>
                <key>textureRect</key>
                <string>{{1225,626},{230,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_JinBiDe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,51}</string>
                <key>spriteSourceSize</key>
                <string>{55,51}</string>
                <key>textureRect</key>
                <string>{{282,1506},{55,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_JinBiDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,280}</string>
                <key>spriteSourceSize</key>
                <string>{257,280}</string>
                <key>textureRect</key>
                <string>{{270,626},{257,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ShangChengDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1479,622}</string>
                <key>spriteSourceSize</key>
                <string>{1479,622}</string>
                <key>textureRect</key>
                <string>{{160,2},{1479,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ShouChong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,43}</string>
                <key>spriteSourceSize</key>
                <string>{72,43}</string>
                <key>textureRect</key>
                <string>{{1641,2},{72,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_ShouChong__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,32}</string>
                <key>spriteSourceSize</key>
                <string>{133,32}</string>
                <key>textureRect</key>
                <string>{{1641,313},{133,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>other.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,49}</string>
                <key>spriteSourceSize</key>
                <string>{48,49}</string>
                <key>textureRect</key>
                <string>{{573,1470},{48,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LobbyShop.png</string>
            <key>size</key>
            <string>{1686,1559}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9581e25a4c18fedf546f8a283288462a:130b048f3e93640b7e45e1e888146663:5ac3772885b1679ec20029925a526e09$</string>
            <key>textureFileName</key>
            <string>LobbyShop.png</string>
        </dict>
    </dict>
</plist>
