<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_ChongZhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,76}</string>
                <key>spriteSourceSize</key>
                <string>{284,76}</string>
                <key>textureRect</key>
                <string>{{1709,2},{284,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ChongZhi__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,76}</string>
                <key>spriteSourceSize</key>
                <string>{284,76}</string>
                <key>textureRect</key>
                <string>{{2,81},{284,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_FanYe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,71}</string>
                <key>spriteSourceSize</key>
                <string>{46,71}</string>
                <key>textureRect</key>
                <string>{{252,2},{46,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_LingQu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,57}</string>
                <key>spriteSourceSize</key>
                <string>{178,57}</string>
                <key>textureRect</key>
                <string>{{1349,2},{178,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_LingQu__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,57}</string>
                <key>spriteSourceSize</key>
                <string>{178,57}</string>
                <key>textureRect</key>
                <string>{{1529,2},{178,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close拷贝.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,72}</string>
                <key>spriteSourceSize</key>
                <string>{73,72}</string>
                <key>textureRect</key>
                <string>{{433,2},{73,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_BaoShi01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,57}</string>
                <key>spriteSourceSize</key>
                <string>{65,57}</string>
                <key>textureRect</key>
                <string>{{300,2},{65,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_Di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1169,684}</string>
                <key>spriteSourceSize</key>
                <string>{1169,684}</string>
                <key>textureRect</key>
                <string>{{659,986},{1169,684}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_JinBi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,60}</string>
                <key>textureRect</key>
                <string>{{367,2},{64,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_JinBi02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,31}</string>
                <key>spriteSourceSize</key>
                <string>{33,31}</string>
                <key>textureRect</key>
                <string>{{2,2},{33,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_JinDuTiao01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,18}</string>
                <key>spriteSourceSize</key>
                <string>{559,18}</string>
                <key>textureRect</key>
                <string>{{846,81},{559,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_JinDuTiao02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{556,14}</string>
                <key>spriteSourceSize</key>
                <string>{556,14}</string>
                <key>textureRect</key>
                <string>{{288,81},{556,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_JinDuTiao03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{576,52}</string>
                <key>spriteSourceSize</key>
                <string>{576,52}</string>
                <key>textureRect</key>
                <string>{{1407,81},{576,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_KeShengJiWei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,23}</string>
                <key>spriteSourceSize</key>
                <string>{83,23}</string>
                <key>textureRect</key>
                <string>{{167,2},{83,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_KeShengJiWei__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,23}</string>
                <key>spriteSourceSize</key>
                <string>{136,23}</string>
                <key>textureRect</key>
                <string>{{587,2},{136,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_Nan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{560,825}</string>
                <key>spriteSourceSize</key>
                <string>{560,825}</string>
                <key>textureRect</key>
                <string>{{1464,159},{560,825}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_NeiRongDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{731,362}</string>
                <key>spriteSourceSize</key>
                <string>{731,362}</string>
                <key>textureRect</key>
                <string>{{731,159},{731,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_Nv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{655,741}</string>
                <key>spriteSourceSize</key>
                <string>{655,741}</string>
                <key>textureRect</key>
                <string>{{2,986},{655,741}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_VipBiaoTiDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{727,215}</string>
                <key>spriteSourceSize</key>
                <string>{727,215}</string>
                <key>textureRect</key>
                <string>{{2,159},{727,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_WuPinDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{508,2},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ZaiChongZhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,23}</string>
                <key>spriteSourceSize</key>
                <string>{63,23}</string>
                <key>textureRect</key>
                <string>{{37,2},{63,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ZaiChongZhi__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,23}</string>
                <key>spriteSourceSize</key>
                <string>{63,23}</string>
                <key>textureRect</key>
                <string>{{102,2},{63,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ZhuanShuTeQuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,38}</string>
                <key>spriteSourceSize</key>
                <string>{128,38}</string>
                <key>textureRect</key>
                <string>{{725,2},{128,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ZhuanShuTeQuan__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,38}</string>
                <key>spriteSourceSize</key>
                <string>{176,38}</string>
                <key>textureRect</key>
                <string>{{1171,2},{176,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yilingqu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,50}</string>
                <key>spriteSourceSize</key>
                <string>{156,50}</string>
                <key>textureRect</key>
                <string>{{855,2},{156,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yilingqu__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,50}</string>
                <key>spriteSourceSize</key>
                <string>{156,50}</string>
                <key>textureRect</key>
                <string>{{1013,2},{156,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LobbyMember.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32cf97fb748e0b291db1677bd288cc4d:2bf8c87424f92162c0694e58e136e37f:4d94bafaee1177e41668235847bedd48$</string>
            <key>textureFileName</key>
            <string>LobbyMember.png</string>
        </dict>
    </dict>
</plist>
