<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_FuZhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,70}</string>
                <key>spriteSourceSize</key>
                <string>{128,70}</string>
                <key>textureRect</key>
                <string>{{599,0},{128,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_FuZhi__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,70}</string>
                <key>spriteSourceSize</key>
                <string>{128,70}</string>
                <key>textureRect</key>
                <string>{{0,70},{128,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_GuanBi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,72}</string>
                <key>spriteSourceSize</key>
                <string>{73,72}</string>
                <key>textureRect</key>
                <string>{{128,70},{73,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_HaoMaDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{527,73}</string>
                <key>spriteSourceSize</key>
                <string>{527,73}</string>
                <key>textureRect</key>
                <string>{{201,70},{527,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_HeiDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{780,309}</string>
                <key>spriteSourceSize</key>
                <string>{780,309}</string>
                <key>textureRect</key>
                <string>{{0,143},{780,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_KeFuXinXi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,55}</string>
                <key>spriteSourceSize</key>
                <string>{202,55}</string>
                <key>textureRect</key>
                <string>{{0,0},{202,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_KeFuXinXi__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,68}</string>
                <key>spriteSourceSize</key>
                <string>{273,68}</string>
                <key>textureRect</key>
                <string>{{326,0},{273,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_QQ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,63}</string>
                <key>spriteSourceSize</key>
                <string>{54,63}</string>
                <key>textureRect</key>
                <string>{{272,0},{54,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_TongYongDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{839,577}</string>
                <key>spriteSourceSize</key>
                <string>{839,577}</string>
                <key>textureRect</key>
                <string>{{0,452},{839,577}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_WeiXin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{202,0},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LobbyServer.png</string>
            <key>size</key>
            <string>{839,1029}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:957ee910a9bf4bd7c6807f43cf7b8321:947bfbb67aa9ccfcd24d20177fd8caf2:6c64d01f1237421af1cfd65450cae11e$</string>
            <key>textureFileName</key>
            <string>LobbyServer.png</string>
        </dict>
    </dict>
</plist>
