<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,28}</string>
                <key>spriteSourceSize</key>
                <string>{46,28}</string>
                <key>textureRect</key>
                <string>{{0,0},{46,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,28}</string>
                <key>spriteSourceSize</key>
                <string>{46,28}</string>
                <key>textureRect</key>
                <string>{{48,0},{46,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,28}</string>
                <key>spriteSourceSize</key>
                <string>{46,28}</string>
                <key>textureRect</key>
                <string>{{0,30},{46,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,28}</string>
                <key>spriteSourceSize</key>
                <string>{46,28}</string>
                <key>textureRect</key>
                <string>{{48,30},{46,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,28}</string>
                <key>spriteSourceSize</key>
                <string>{46,28}</string>
                <key>textureRect</key>
                <string>{{0,60},{46,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SSS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,28}</string>
                <key>spriteSourceSize</key>
                <string>{46,28}</string>
                <key>textureRect</key>
                <string>{{48,60},{46,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{0,746},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{0,836},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon3001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{0,926},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon3101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{0,90},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon3201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{0,172},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon3301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{0,254},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon3401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{0,336},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon3501.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{0,418},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon3601.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{0,500},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon3701.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{0,582},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon3801.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{0,664},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{0,1016},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{0,1106},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taskDaily.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{0,1196},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taskDaily__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{0,1286},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taskWeek.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{0,1376},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taskWeek__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{0,1466},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LobbyIcon.png</string>
            <key>size</key>
            <string>{94,1554}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:730806e8ba00fc9b795337feade70c0e:9c4efe381243ea83f835add3b5694294:861e49e7dab37f8e197e1d9cb7545524$</string>
            <key>textureFileName</key>
            <string>LobbyIcon.png</string>
        </dict>
    </dict>
</plist>
