<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>checkName.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,2},{127,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,106}}</string>
                <key>sourceSize</key>
                <string>{127,106}</string>
            </dict>
            <key>checkName_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,2},{127,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,106}}</string>
                <key>sourceSize</key>
                <string>{127,106}</string>
            </dict>
            <key>firstPay.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{127,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,111}}</string>
                <key>sourceSize</key>
                <string>{127,111}</string>
            </dict>
            <key>firstPay_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,111}}</string>
                <key>sourceSize</key>
                <string>{138,111}</string>
            </dict>
            <key>mouthVip.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{127,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,108}}</string>
                <key>sourceSize</key>
                <string>{127,108}</string>
            </dict>
            <key>mouthVip_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{127,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,110}}</string>
                <key>sourceSize</key>
                <string>{127,110}</string>
            </dict>
            <key>relife.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,2},{127,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,110}}</string>
                <key>sourceSize</key>
                <string>{127,110}</string>
            </dict>
            <key>relife_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,2},{146,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,110}}</string>
                <key>sourceSize</key>
                <string>{146,110}</string>
            </dict>
            <key>sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,2},{127,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,105}}</string>
                <key>sourceSize</key>
                <string>{127,105}</string>
            </dict>
            <key>sign_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,2},{132,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,105}}</string>
                <key>sourceSize</key>
                <string>{132,105}</string>
            </dict>
            <key>weekVip.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{127,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,108}}</string>
                <key>sourceSize</key>
                <string>{127,108}</string>
            </dict>
            <key>weekVip_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,2},{127,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,108}}</string>
                <key>sourceSize</key>
                <string>{127,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>enterIcon.png</string>
            <key>size</key>
            <string>{1456,115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:720f1a4bdd2b52ef27ecda531ae3475b$</string>
            <key>textureFileName</key>
            <string>enterIcon.png</string>
        </dict>
    </dict>
</plist>
