<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1yuanqianggou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,114}</string>
                <key>spriteSourceSize</key>
                <string>{124,114}</string>
                <key>textureRect</key>
                <string>{{126,236},{124,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1yuanqianggou__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,114}</string>
                <key>spriteSourceSize</key>
                <string>{125,114}</string>
                <key>textureRect</key>
                <string>{{252,236},{125,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{702,828}</string>
                <key>spriteSourceSize</key>
                <string>{702,828}</string>
                <key>textureRect</key>
                <string>{{857,487},{702,828}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,828}</string>
                <key>spriteSourceSize</key>
                <string>{306,828}</string>
                <key>textureRect</key>
                <string>{{1561,487},{306,828}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_FanHui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,58}</string>
                <key>spriteSourceSize</key>
                <string>{81,58}</string>
                <key>textureRect</key>
                <string>{{1618,48},{81,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_FenXiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,95}</string>
                <key>spriteSourceSize</key>
                <string>{92,95}</string>
                <key>textureRect</key>
                <string>{{75,122},{92,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_FenXiang__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,95}</string>
                <key>spriteSourceSize</key>
                <string>{152,95}</string>
                <key>textureRect</key>
                <string>{{169,122},{152,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_HongBaoQiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,95}</string>
                <key>spriteSourceSize</key>
                <string>{92,95}</string>
                <key>textureRect</key>
                <string>{{323,122},{92,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_HongBaoQiang__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,95}</string>
                <key>spriteSourceSize</key>
                <string>{195,95}</string>
                <key>textureRect</key>
                <string>{{417,122},{195,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_HuoDong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,95}</string>
                <key>spriteSourceSize</key>
                <string>{92,95}</string>
                <key>textureRect</key>
                <string>{{614,122},{92,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_HuoDong__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,95}</string>
                <key>spriteSourceSize</key>
                <string>{92,95}</string>
                <key>textureRect</key>
                <string>{{708,122},{92,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_KeFu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,72}</string>
                <key>spriteSourceSize</key>
                <string>{73,72}</string>
                <key>textureRect</key>
                <string>{{1769,48},{73,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_QiuGan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,95}</string>
                <key>spriteSourceSize</key>
                <string>{92,95}</string>
                <key>textureRect</key>
                <string>{{802,122},{92,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_QiuGan__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,95}</string>
                <key>spriteSourceSize</key>
                <string>{130,95}</string>
                <key>textureRect</key>
                <string>{{896,122},{130,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_RenWu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,95}</string>
                <key>spriteSourceSize</key>
                <string>{92,95}</string>
                <key>textureRect</key>
                <string>{{1028,122},{92,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_RenWu__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,95}</string>
                <key>spriteSourceSize</key>
                <string>{92,95}</string>
                <key>textureRect</key>
                <string>{{1122,122},{92,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_SheZhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,72}</string>
                <key>spriteSourceSize</key>
                <string>{73,72}</string>
                <key>textureRect</key>
                <string>{{0,122},{73,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Vip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,95}</string>
                <key>spriteSourceSize</key>
                <string>{92,95}</string>
                <key>textureRect</key>
                <string>{{1216,122},{92,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Vip__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,95}</string>
                <key>spriteSourceSize</key>
                <string>{92,95}</string>
                <key>textureRect</key>
                <string>{{1310,122},{92,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_YouJian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,95}</string>
                <key>spriteSourceSize</key>
                <string>{92,95}</string>
                <key>textureRect</key>
                <string>{{1404,122},{92,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_YouJian__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,95}</string>
                <key>spriteSourceSize</key>
                <string>{92,95}</string>
                <key>textureRect</key>
                <string>{{1498,122},{92,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gengduohuodong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,104}</string>
                <key>spriteSourceSize</key>
                <string>{124,104}</string>
                <key>textureRect</key>
                <string>{{1592,122},{124,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gengduohuodong__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,113}</string>
                <key>spriteSourceSize</key>
                <string>{124,113}</string>
                <key>textureRect</key>
                <string>{{0,236},{124,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_Di.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1682,125}</string>
                <key>spriteSourceSize</key>
                <string>{1682,125}</string>
                <key>textureRect</key>
                <string>{{0,353},{1682,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_GeRenXinXiDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{705,133}</string>
                <key>spriteSourceSize</key>
                <string>{705,133}</string>
                <key>textureRect</key>
                <string>{{150,487},{705,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_Jia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{1701,48},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_JinBiDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,54}</string>
                <key>spriteSourceSize</key>
                <string>{267,54}</string>
                <key>textureRect</key>
                <string>{{1051,48},{267,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_JinDuDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,55}</string>
                <key>spriteSourceSize</key>
                <string>{237,55}</string>
                <key>textureRect</key>
                <string>{{1379,48},{237,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_JinDuTiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,43}</string>
                <key>spriteSourceSize</key>
                <string>{227,43}</string>
                <key>textureRect</key>
                <string>{{592,0},{227,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_PaoMaDengDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1049,53}</string>
                <key>spriteSourceSize</key>
                <string>{1049,53}</string>
                <key>textureRect</key>
                <string>{{0,48},{1049,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ShangCheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,46}</string>
                <key>spriteSourceSize</key>
                <string>{106,46}</string>
                <key>textureRect</key>
                <string>{{826,0},{106,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ShangCheng01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,112}</string>
                <key>spriteSourceSize</key>
                <string>{128,112}</string>
                <key>textureRect</key>
                <string>{{1718,122},{128,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ShangCheng__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,46}</string>
                <key>spriteSourceSize</key>
                <string>{106,46}</string>
                <key>textureRect</key>
                <string>{{934,0},{106,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_Vip01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,54}</string>
                <key>spriteSourceSize</key>
                <string>{57,54}</string>
                <key>textureRect</key>
                <string>{{1320,48},{57,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_Vip02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,15}</string>
                <key>spriteSourceSize</key>
                <string>{276,15}</string>
                <key>textureRect</key>
                <string>{{0,0},{276,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_Vip03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,24}</string>
                <key>spriteSourceSize</key>
                <string>{284,24}</string>
                <key>textureRect</key>
                <string>{{278,0},{284,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_Xian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,43}</string>
                <key>spriteSourceSize</key>
                <string>{3,43}</string>
                <key>textureRect</key>
                <string>{{821,0},{3,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_XinXi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{564,0},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xingyunduobao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,115}</string>
                <key>spriteSourceSize</key>
                <string>{124,115}</string>
                <key>textureRect</key>
                <string>{{379,236},{124,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xingyunduobao__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,115}</string>
                <key>spriteSourceSize</key>
                <string>{127,115}</string>
                <key>textureRect</key>
                <string>{{505,236},{127,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xinyunyiqiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,132}</string>
                <key>spriteSourceSize</key>
                <string>{144,132}</string>
                <key>textureRect</key>
                <string>{{1684,353},{144,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xinyunyiqiu__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,132}</string>
                <key>spriteSourceSize</key>
                <string>{148,132}</string>
                <key>textureRect</key>
                <string>{{0,487},{148,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Lobby.png</string>
            <key>size</key>
            <string>{1867,1315}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ae42457e7327cc2dacfb63bbe945b1c:9778bd5ea91c0d34639ae8d9f596d3d3:5604b31835c31f3132979f59e1ad1570$</string>
            <key>textureFileName</key>
            <string>Lobby.png</string>
        </dict>
    </dict>
</plist>
