<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_QuXiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,72}</string>
                <key>spriteSourceSize</key>
                <string>{171,72}</string>
                <key>textureRect</key>
                <string>{{0,0},{171,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_QuXiao__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,72}</string>
                <key>spriteSourceSize</key>
                <string>{171,72}</string>
                <key>textureRect</key>
                <string>{{173,0},{171,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_QueDing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,65}</string>
                <key>spriteSourceSize</key>
                <string>{206,65}</string>
                <key>textureRect</key>
                <string>{{519,0},{206,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_QueDing__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,72}</string>
                <key>spriteSourceSize</key>
                <string>{171,72}</string>
                <key>textureRect</key>
                <string>{{346,0},{171,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_lingqu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,65}</string>
                <key>spriteSourceSize</key>
                <string>{206,65}</string>
                <key>textureRect</key>
                <string>{{727,0},{206,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_lingqu__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,65}</string>
                <key>spriteSourceSize</key>
                <string>{206,65}</string>
                <key>textureRect</key>
                <string>{{0,74},{206,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_HeiDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{696,190}</string>
                <key>spriteSourceSize</key>
                <string>{696,190}</string>
                <key>textureRect</key>
                <string>{{208,74},{696,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_TiShiDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{706,381}</string>
                <key>spriteSourceSize</key>
                <string>{706,381}</string>
                <key>textureRect</key>
                <string>{{0,266},{706,381}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Common.png</string>
            <key>size</key>
            <string>{933,647}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c95056469a0a62ce172e95a53b7b631a:02ac45efb893b240c1f8d3e8f58e2f61:593cab8d2a050374f0ff2769c430fb21$</string>
            <key>textureFileName</key>
            <string>Common.png</string>
        </dict>
    </dict>
</plist>
