<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BigK.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,261}</string>
                <key>spriteSourceSize</key>
                <string>{358,261}</string>
                <key>textureRect</key>
                <string>{{2,750},{358,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DBan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1274,746}</string>
                <key>spriteSourceSize</key>
                <string>{1274,746}</string>
                <key>textureRect</key>
                <string>{{2,2},{1274,746}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{1220,750},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,100}</string>
                <key>spriteSourceSize</key>
                <string>{96,100}</string>
                <key>textureRect</key>
                <string>{{1220,854},{96,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>day.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,21}</string>
                <key>spriteSourceSize</key>
                <string>{30,21}</string>
                <key>textureRect</key>
                <string>{{536,985},{30,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dim.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{693,881},{100,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,76}</string>
                <key>spriteSourceSize</key>
                <string>{92,76}</string>
                <key>textureRect</key>
                <string>{{931,881},{92,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>got.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,76}</string>
                <key>spriteSourceSize</key>
                <string>{98,76}</string>
                <key>textureRect</key>
                <string>{{775,881},{98,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>got_w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,76}</string>
                <key>spriteSourceSize</key>
                <string>{98,76}</string>
                <key>textureRect</key>
                <string>{{853,881},{98,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sign.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,64}</string>
                <key>spriteSourceSize</key>
                <string>{205,64}</string>
                <key>textureRect</key>
                <string>{{1278,2},{205,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>signAward.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,54}</string>
                <key>spriteSourceSize</key>
                <string>{203,54}</string>
                <key>textureRect</key>
                <string>{{1278,535},{203,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>signAward_w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,60}</string>
                <key>spriteSourceSize</key>
                <string>{117,60}</string>
                <key>textureRect</key>
                <string>{{1278,416},{117,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>signMask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,233}</string>
                <key>spriteSourceSize</key>
                <string>{155,233}</string>
                <key>textureRect</key>
                <string>{{536,750},{155,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sign_w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,64}</string>
                <key>spriteSourceSize</key>
                <string>{205,64}</string>
                <key>textureRect</key>
                <string>{{1278,209},{205,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>smallD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,261}</string>
                <key>spriteSourceSize</key>
                <string>{172,261}</string>
                <key>textureRect</key>
                <string>{{362,750},{172,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titleDown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{525,129}</string>
                <key>spriteSourceSize</key>
                <string>{525,129}</string>
                <key>textureRect</key>
                <string>{{693,750},{525,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>signActivity.png</string>
            <key>size</key>
            <string>{1344,1013}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7567f9f13b731c46eacaf3bf9a57331f:1719b76dbbed642cfa33aedb4f5e9646:51dac19087d6bfadc531943d9c270004$</string>
            <key>textureFileName</key>
            <string>signActivity.png</string>
        </dict>
    </dict>
</plist>
