<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ButtomK.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{838,594}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{838,594}}</string>
                <key>sourceSize</key>
                <string>{838,594}</string>
            </dict>
            <key>buttomB.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{784,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{784,153}}</string>
                <key>sourceSize</key>
                <string>{784,153}</string>
            </dict>
            <key>buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,226},{222,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,82}}</string>
                <key>sourceSize</key>
                <string>{222,82}</string>
            </dict>
            <key>buy_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,2},{222,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,82}}</string>
                <key>sourceSize</key>
                <string>{222,82}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,522},{73,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,72}}</string>
                <key>sourceSize</key>
                <string>{73,72}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,450},{76,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,79}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>sure.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,598},{204,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,64}}</string>
                <key>sourceSize</key>
                <string>{204,64}</string>
            </dict>
            <key>sure_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,297},{223,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,82}}</string>
                <key>sourceSize</key>
                <string>{223,82}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,664},{202,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,55}}</string>
                <key>sourceSize</key>
                <string>{202,55}</string>
            </dict>
            <key>title_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{293,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,47}}</string>
                <key>sourceSize</key>
                <string>{293,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>relifeActivity.png</string>
            <key>size</key>
            <string>{1010,753}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db5172a7a229621946fd6e0efbe6853b$</string>
            <key>textureFileName</key>
            <string>relifeActivity.png</string>
        </dict>
    </dict>
</plist>
