<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mianBao_yinYing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{333,206}</string>
                <key>spriteSourceSize</key>
                <string>{343,212}</string>
                <key>textureRect</key>
                <string>{{1,617},{333,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>panZi_faGuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,316}</string>
                <key>spriteSourceSize</key>
                <string>{444,316}</string>
                <key>textureRect</key>
                <string>{{547,1},{444,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panZi_yinYing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{544,384}</string>
                <key>spriteSourceSize</key>
                <string>{552,390}</string>
                <key>textureRect</key>
                <string>{{1,1},{544,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rou_yinYing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{314,192}</string>
                <key>spriteSourceSize</key>
                <string>{324,198}</string>
                <key>textureRect</key>
                <string>{{209,601},{314,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shuCai_yinYing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{310,212}</string>
                <key>spriteSourceSize</key>
                <string>{318,220}</string>
                <key>textureRect</key>
                <string>{{1,387},{310,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xianPanZi_yinYing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{388,296}</string>
                <key>spriteSourceSize</key>
                <string>{398,302}</string>
                <key>textureRect</key>
                <string>{{547,319},{388,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shuXue_canZhuo_yinYing.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c144fd942d4b94f0070913e2e4edd227:0f22055e4eb87e2d52ddeabb290feac5:3315a95ca47c18872e2fb2eb3a184e30$</string>
            <key>textureFileName</key>
            <string>shuXue_canZhuo_yinYing.png</string>
        </dict>
    </dict>
</plist>
