<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anNiu_cai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,90}</string>
                <key>spriteSourceSize</key>
                <string>{192,90}</string>
                <key>textureRect</key>
                <string>{{865,583},{192,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anNiu_hui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,90}</string>
                <key>spriteSourceSize</key>
                <string>{192,90}</string>
                <key>textureRect</key>
                <string>{{1,777},{192,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>biaoTi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{744,132}</string>
                <key>spriteSourceSize</key>
                <string>{748,136}</string>
                <key>textureRect</key>
                <string>{{1,1},{744,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mianBao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,172}</string>
                <key>spriteSourceSize</key>
                <string>{242,172}</string>
                <key>textureRect</key>
                <string>{{693,237},{242,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panZi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{404,282}</string>
                <key>spriteSourceSize</key>
                <string>{404,282}</string>
                <key>textureRect</key>
                <string>{{1,135},{404,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiPao01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{234,242}</string>
                <key>spriteSourceSize</key>
                <string>{242,246}</string>
                <key>textureRect</key>
                <string>{{747,1},{234,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qiPao02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,7}</string>
                <key>spriteSize</key>
                <string>{87,81}</string>
                <key>spriteSourceSize</key>
                <string>{109,103}</string>
                <key>textureRect</key>
                <string>{{937,237},{87,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{228,146}</string>
                <key>spriteSourceSize</key>
                <string>{252,170}</string>
                <key>textureRect</key>
                <string>{{407,337},{228,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanMingZhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,122}</string>
                <key>spriteSourceSize</key>
                <string>{170,122}</string>
                <key>textureRect</key>
                <string>{{865,411},{170,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuCai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,174}</string>
                <key>spriteSourceSize</key>
                <string>{226,174}</string>
                <key>textureRect</key>
                <string>{{637,411},{226,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoPanZi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,200}</string>
                <key>spriteSourceSize</key>
                <string>{284,200}</string>
                <key>textureRect</key>
                <string>{{407,135},{284,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>shuXue_canZhuo.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b3bd7b04a861e41ede3a9e62944cdd3:e914e977f2ce6cecc0b3d0b5209cc0cf:752014ad79767fd32b6dc31384249adf$</string>
            <key>textureFileName</key>
            <string>shuXue_canZhuo.png</string>
        </dict>
    </dict>
</plist>
