<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xb_kuang333.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,44}</string>
                <key>spriteSourceSize</key>
                <string>{82,44}</string>
                <key>textureRect</key>
                <string>{{1,185},{82,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_suo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,71}</string>
                <key>spriteSourceSize</key>
                <string>{56,71}</string>
                <key>textureRect</key>
                <string>{{441,102},{56,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_yx_fangkuang11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,101}</string>
                <key>spriteSourceSize</key>
                <string>{110,101}</string>
                <key>textureRect</key>
                <string>{{176,1},{110,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_yx_fangkuang22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,101}</string>
                <key>spriteSourceSize</key>
                <string>{100,101}</string>
                <key>textureRect</key>
                <string>{{135,104},{100,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_yx_jiantou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,29}</string>
                <key>spriteSourceSize</key>
                <string>{36,29}</string>
                <key>textureRect</key>
                <string>{{85,185},{36,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_yx_kuang111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,92}</string>
                <key>spriteSourceSize</key>
                <string>{132,92}</string>
                <key>textureRect</key>
                <string>{{1,91},{132,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_yx_kuang22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,88}</string>
                <key>spriteSourceSize</key>
                <string>{173,88}</string>
                <key>textureRect</key>
                <string>{{1,1},{173,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_yx_tianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{400,1},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_yx_yuanquan1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{237,104},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_yx_yuanquan2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{339,104},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_yx_zhezhao2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,101}</string>
                <key>spriteSourceSize</key>
                <string>{110,101}</string>
                <key>textureRect</key>
                <string>{{288,1},{110,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atlas_HeroInfo.png</string>
            <key>size</key>
            <string>{500,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a433280834b0dd785e49829c36eb87b4:33c56c875dbba5ab4c592b14626e215f:b3efe6e038643e3ee4e018e72ca067ef$</string>
            <key>textureFileName</key>
            <string>atlas_HeroInfo.png</string>
        </dict>
    </dict>
</plist>
