<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xb_jqms_djs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,30}</string>
                <key>spriteSourceSize</key>
                <string>{31,30}</string>
                <key>textureRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_jqms_hfbdx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,56}</string>
                <key>spriteSourceSize</key>
                <string>{48,56}</string>
                <key>textureRect</key>
                <string>{{31,0},{48,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_jqms_mzj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,335}</string>
                <key>spriteSourceSize</key>
                <string>{335,335}</string>
                <key>textureRect</key>
                <string>{{79,0},{335,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_jqms_mzj1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,33}</string>
                <key>spriteSourceSize</key>
                <string>{32,33}</string>
                <key>textureRect</key>
                <string>{{414,0},{32,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_jqms_mzjbtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,100}</string>
                <key>spriteSourceSize</key>
                <string>{56,100}</string>
                <key>textureRect</key>
                <string>{{0,335},{56,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_jqms_mzjkd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,91}</string>
                <key>spriteSourceSize</key>
                <string>{274,91}</string>
                <key>textureRect</key>
                <string>{{56,335},{274,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_jqms_smbtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{330,335},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_jqms_smd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,58}</string>
                <key>spriteSourceSize</key>
                <string>{32,58}</string>
                <key>textureRect</key>
                <string>{{408,335},{32,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_jqms_smpic1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,56}</string>
                <key>spriteSourceSize</key>
                <string>{51,56}</string>
                <key>textureRect</key>
                <string>{{0,435},{51,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_jqms_smpic2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,54}</string>
                <key>spriteSourceSize</key>
                <string>{55,54}</string>
                <key>textureRect</key>
                <string>{{51,435},{55,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_jqms_wenzid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,56}</string>
                <key>spriteSourceSize</key>
                <string>{337,56}</string>
                <key>textureRect</key>
                <string>{{106,435},{337,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_jqms_zdbtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,128}</string>
                <key>spriteSourceSize</key>
                <string>{120,128}</string>
                <key>textureRect</key>
                <string>{{0,491},{120,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_jqms_zdbtn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{120,491},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atlas_Plot.png</string>
            <key>size</key>
            <string>{446,619}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:182ab91ea83ec9f4776d26a5881fecc3:46a0dbc6ce305a7c65bd16c144e9da39:872c6acd0752f34535ca36d1a9903bcf$</string>
            <key>textureFileName</key>
            <string>atlas_Plot.png</string>
        </dict>
    </dict>
</plist>
