<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xb_bangding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{864,0},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_bd-xxdk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{135,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_beilvkuang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,110}</string>
                <key>spriteSourceSize</key>
                <string>{272,110}</string>
                <key>textureRect</key>
                <string>{{0,357},{272,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_beilvkuang3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,58}</string>
                <key>spriteSourceSize</key>
                <string>{53,58}</string>
                <key>textureRect</key>
                <string>{{60,59},{53,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_cz_dikuang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,73}</string>
                <key>spriteSourceSize</key>
                <string>{82,73}</string>
                <key>textureRect</key>
                <string>{{562,59},{82,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_cz_dikuang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,52}</string>
                <key>spriteSourceSize</key>
                <string>{50,52}</string>
                <key>textureRect</key>
                <string>{{489,0},{50,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_cz_dikuang3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,109}</string>
                <key>spriteSourceSize</key>
                <string>{122,109}</string>
                <key>textureRect</key>
                <string>{{781,246},{122,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_cz_gouk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{318,0},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_dianjihou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,148}</string>
                <key>spriteSourceSize</key>
                <string>{139,148}</string>
                <key>textureRect</key>
                <string>{{686,357},{139,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_guanbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,73}</string>
                <key>spriteSourceSize</key>
                <string>{67,73}</string>
                <key>textureRect</key>
                <string>{{493,59},{67,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_jiahao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{447,0},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_jinbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{280,0},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_jn_jindu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,5}</string>
                <key>spriteSourceSize</key>
                <string>{52,5}</string>
                <key>textureRect</key>
                <string>{{54,0},{52,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_jn_jindu2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,5}</string>
                <key>spriteSourceSize</key>
                <string>{52,5}</string>
                <key>textureRect</key>
                <string>{{0,0},{52,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_miaozhun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,99}</string>
                <key>spriteSourceSize</key>
                <string>{89,99}</string>
                <key>textureRect</key>
                <string>{{853,145},{89,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_shuaxindx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,103}</string>
                <key>spriteSourceSize</key>
                <string>{129,103}</string>
                <key>textureRect</key>
                <string>{{0,246},{129,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_shuaxintu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,66}</string>
                <key>spriteSourceSize</key>
                <string>{71,66}</string>
                <key>textureRect</key>
                <string>{{420,59},{71,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_ts_anniu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,84}</string>
                <key>spriteSourceSize</key>
                <string>{174,84}</string>
                <key>textureRect</key>
                <string>{{0,145},{174,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_ts_anniu2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,84}</string>
                <key>spriteSourceSize</key>
                <string>{174,84}</string>
                <key>textureRect</key>
                <string>{{176,145},{174,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_ty_tips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{354,59},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_weidianji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,148}</string>
                <key>spriteSourceSize</key>
                <string>{139,148}</string>
                <key>textureRect</key>
                <string>{{827,357},{139,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_wusheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{0,59},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_xiazhu_jiantou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,20}</string>
                <key>spriteSourceSize</key>
                <string>{25,20}</string>
                <key>textureRect</key>
                <string>{{108,0},{25,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_yingxiongtu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,80}</string>
                <key>spriteSourceSize</key>
                <string>{69,80}</string>
                <key>textureRect</key>
                <string>{{731,59},{69,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_yousheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{805,0},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_yx_kuang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,39}</string>
                <key>spriteSourceSize</key>
                <string>{49,39}</string>
                <key>textureRect</key>
                <string>{{229,0},{49,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_yx_kuang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,53}</string>
                <key>spriteSourceSize</key>
                <string>{56,53}</string>
                <key>textureRect</key>
                <string>{{541,0},{56,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_z_xiakuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,105}</string>
                <key>spriteSourceSize</key>
                <string>{640,105}</string>
                <key>textureRect</key>
                <string>{{131,246},{640,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_z_xiaxian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,105}</string>
                <key>spriteSourceSize</key>
                <string>{6,105}</string>
                <key>textureRect</key>
                <string>{{773,246},{6,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_zd_xuanzhong3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,92}</string>
                <key>textureRect</key>
                <string>{{767,145},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_zidongtu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,79}</string>
                <key>spriteSourceSize</key>
                <string>{83,79}</string>
                <key>textureRect</key>
                <string>{{646,59},{83,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_zjm_boss_cm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{288,59},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_zjm_boss_cm1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,89}</string>
                <key>spriteSourceSize</key>
                <string>{413,89}</string>
                <key>textureRect</key>
                <string>{{352,145},{413,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_zjm_gzjs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,55}</string>
                <key>spriteSourceSize</key>
                <string>{204,55}</string>
                <key>textureRect</key>
                <string>{{599,0},{204,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_zjm_gzjs1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{274,357},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_zjm_gzjs2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,34}</string>
                <key>spriteSourceSize</key>
                <string>{35,34}</string>
                <key>textureRect</key>
                <string>{{192,0},{35,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_zjm_kkk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{545,357},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_zjm_kkk3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{404,357},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_zjm_kkk4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,43}</string>
                <key>spriteSourceSize</key>
                <string>{83,43}</string>
                <key>textureRect</key>
                <string>{{362,0},{83,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_zjm_wenhao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,33}</string>
                <key>spriteSourceSize</key>
                <string>{21,33}</string>
                <key>textureRect</key>
                <string>{{169,0},{21,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_zjm_wenhaok.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,84}</string>
                <key>spriteSourceSize</key>
                <string>{92,84}</string>
                <key>textureRect</key>
                <string>{{802,59},{92,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_zjm_zjsz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,63}</string>
                <key>spriteSourceSize</key>
                <string>{171,63}</string>
                <key>textureRect</key>
                <string>{{115,59},{171,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atlas_Common.png</string>
            <key>size</key>
            <string>{966,505}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85aae8d9eaff3c1ce594ebb72ae94237:5ed794db462ebd0ac25e3a8f3b804256:727cc7e36af52248bfb927cc4741658d$</string>
            <key>textureFileName</key>
            <string>atlas_Common.png</string>
        </dict>
    </dict>
</plist>
