<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/x-javascript" />
            <mimeMap fileExtension=".plist" mimeType="application/x-internet-signup" />
            <mimeMap fileExtension=".atlas" mimeType="flv-application/octet-stream" />
            <mimeMap fileExtension=".proto" mimeType="application/x-internet-signup" />
            <mimeMap fileExtension=".ogg" mimeType="audio/ogg" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Headers" value="Content-Type, api_key, Authorization" />
                <add name="Access-Control-Allow-Origin" value="*" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
