<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xb_manhua2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{601,353}</string>
                <key>spriteSourceSize</key>
                <string>{601,353}</string>
                <key>textureRect</key>
                <string>{{1178,145},{601,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_manhua2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{589,397}</string>
                <key>spriteSourceSize</key>
                <string>{589,397}</string>
                <key>textureRect</key>
                <string>{{587,145},{589,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_manhua2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{585,358}</string>
                <key>spriteSourceSize</key>
                <string>{585,358}</string>
                <key>textureRect</key>
                <string>{{0,145},{585,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_wenzi2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,113}</string>
                <key>spriteSourceSize</key>
                <string>{233,113}</string>
                <key>textureRect</key>
                <string>{{712,0},{233,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_wenzi2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,85}</string>
                <key>spriteSourceSize</key>
                <string>{200,85}</string>
                <key>textureRect</key>
                <string>{{510,0},{200,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_wenzi2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,83}</string>
                <key>spriteSourceSize</key>
                <string>{155,83}</string>
                <key>textureRect</key>
                <string>{{0,0},{155,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_wenzi2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,143}</string>
                <key>spriteSourceSize</key>
                <string>{182,143}</string>
                <key>textureRect</key>
                <string>{{326,0},{182,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_wenzi2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,137}</string>
                <key>spriteSourceSize</key>
                <string>{398,137}</string>
                <key>textureRect</key>
                <string>{{947,0},{398,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_wenzi2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,131}</string>
                <key>spriteSourceSize</key>
                <string>{167,131}</string>
                <key>textureRect</key>
                <string>{{157,0},{167,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_wenzi2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,72}</string>
                <key>spriteSourceSize</key>
                <string>{570,72}</string>
                <key>textureRect</key>
                <string>{{1347,0},{570,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atlas_Cartoon_2.png</string>
            <key>size</key>
            <string>{1917,542}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e064b38c0864864a1b87c75131414647:4404c52c4d946e804ae8e30604042a4a:17d0de9c420fe375992b417ab1efc4c4$</string>
            <key>textureFileName</key>
            <string>atlas_Cartoon_2.png</string>
        </dict>
    </dict>
</plist>
