<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>danzhu_feidie1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,305}</string>
                <key>spriteSourceSize</key>
                <string>{435,305}</string>
                <key>textureRect</key>
                <string>{{1,1},{435,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_feidie2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,305}</string>
                <key>spriteSourceSize</key>
                <string>{435,305}</string>
                <key>textureRect</key>
                <string>{{436,1},{435,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_feidie3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,305}</string>
                <key>spriteSourceSize</key>
                <string>{435,305}</string>
                <key>textureRect</key>
                <string>{{1,306},{435,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_feidie4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,305}</string>
                <key>spriteSourceSize</key>
                <string>{435,305}</string>
                <key>textureRect</key>
                <string>{{436,306},{435,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_feidie5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,305}</string>
                <key>spriteSourceSize</key>
                <string>{435,305}</string>
                <key>textureRect</key>
                <string>{{1,611},{435,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>danzhu_feidie6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,305}</string>
                <key>spriteSourceSize</key>
                <string>{435,305}</string>
                <key>textureRect</key>
                <string>{{436,611},{435,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>feidie.png</string>
            <key>size</key>
            <string>{872,917}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38d0e280ed2a86fa0c935c33831aa385:703b862c065ef0d12b0f347f026e16b2:050d23bc45d6fda65696b700afc50bce$</string>
            <key>textureFileName</key>
            <string>feidie.png</string>
        </dict>
    </dict>
</plist>
