<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>block_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{0,0},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{158,0},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,157}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{316,0},{157,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{473,0},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{631,0},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{789,0},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,132}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{0,158},{132,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,132}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{132,158},{132,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,132}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{264,158},{132,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,132}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{396,158},{132,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,132}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{528,158},{132,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,132}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{660,158},{132,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>triangle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,116}</string>
                <key>spriteSourceSize</key>
                <string>{129,116}</string>
                <key>textureRect</key>
                <string>{{792,158},{129,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>triangle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,116}</string>
                <key>spriteSourceSize</key>
                <string>{129,116}</string>
                <key>textureRect</key>
                <string>{{0,290},{129,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>triangle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,116}</string>
                <key>spriteSourceSize</key>
                <string>{129,116}</string>
                <key>textureRect</key>
                <string>{{129,290},{129,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>triangle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,116}</string>
                <key>spriteSourceSize</key>
                <string>{129,116}</string>
                <key>textureRect</key>
                <string>{{258,290},{129,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>triangle_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,116}</string>
                <key>spriteSourceSize</key>
                <string>{129,116}</string>
                <key>textureRect</key>
                <string>{{387,290},{129,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>triangle_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,116}</string>
                <key>spriteSourceSize</key>
                <string>{129,116}</string>
                <key>textureRect</key>
                <string>{{516,290},{129,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>geometry.png</string>
            <key>size</key>
            <string>{947,406}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c18a0d5943062c0ece670772216a2b05:8fe49f6240281b5978a37c3d41b60372:829456d37ef7033721559e963447c6be$</string>
            <key>textureFileName</key>
            <string>geometry.png</string>
        </dict>
    </dict>
</plist>
