<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,54}</string>
                <key>spriteSourceSize</key>
                <string>{267,54}</string>
                <key>textureRect</key>
                <string>{{0,49},{267,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_HongSe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,62}</string>
                <key>spriteSourceSize</key>
                <string>{233,62}</string>
                <key>textureRect</key>
                <string>{{269,49},{233,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_HongSe__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,62}</string>
                <key>spriteSourceSize</key>
                <string>{233,62}</string>
                <key>textureRect</key>
                <string>{{504,49},{233,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_LanSe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,62}</string>
                <key>spriteSourceSize</key>
                <string>{233,62}</string>
                <key>textureRect</key>
                <string>{{739,49},{233,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_LanSe__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,62}</string>
                <key>spriteSourceSize</key>
                <string>{233,62}</string>
                <key>textureRect</key>
                <string>{{974,49},{233,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_LvSe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,62}</string>
                <key>spriteSourceSize</key>
                <string>{233,62}</string>
                <key>textureRect</key>
                <string>{{1209,49},{233,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_LvSe__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,62}</string>
                <key>spriteSourceSize</key>
                <string>{233,62}</string>
                <key>textureRect</key>
                <string>{{1444,49},{233,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duishoulikai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,47}</string>
                <key>spriteSourceSize</key>
                <string>{264,47}</string>
                <key>textureRect</key>
                <string>{{1086,0},{264,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duishoulikai__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,47}</string>
                <key>spriteSourceSize</key>
                <string>{369,47}</string>
                <key>textureRect</key>
                <string>{{1352,0},{369,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_DuiFang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{543,574}</string>
                <key>spriteSourceSize</key>
                <string>{543,574}</string>
                <key>textureRect</key>
                <string>{{836,547},{543,574}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_JinDuDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,86}</string>
                <key>spriteSourceSize</key>
                <string>{301,86}</string>
                <key>textureRect</key>
                <string>{{853,113},{301,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_JinDuTiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,22}</string>
                <key>spriteSourceSize</key>
                <string>{228,22}</string>
                <key>textureRect</key>
                <string>{{359,0},{228,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_JingYanTiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,9}</string>
                <key>spriteSourceSize</key>
                <string>{112,9}</string>
                <key>textureRect</key>
                <string>{{0,0},{112,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_JingYanTiao02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,13}</string>
                <key>spriteSourceSize</key>
                <string>{229,13}</string>
                <key>textureRect</key>
                <string>{{114,0},{229,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_JingYanTiaoDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,65}</string>
                <key>spriteSourceSize</key>
                <string>{431,65}</string>
                <key>textureRect</key>
                <string>{{0,113},{431,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_LiWu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,116}</string>
                <key>spriteSourceSize</key>
                <string>{112,116}</string>
                <key>textureRect</key>
                <string>{{1156,113},{112,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_MingZiDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,85}</string>
                <key>spriteSourceSize</key>
                <string>{418,85}</string>
                <key>textureRect</key>
                <string>{{433,113},{418,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ShengLi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,261}</string>
                <key>spriteSourceSize</key>
                <string>{445,261}</string>
                <key>textureRect</key>
                <string>{{452,284},{445,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ShengLi__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,261}</string>
                <key>spriteSourceSize</key>
                <string>{445,261}</string>
                <key>textureRect</key>
                <string>{{899,284},{445,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ShengLi_w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,261}</string>
                <key>spriteSourceSize</key>
                <string>{445,261}</string>
                <key>textureRect</key>
                <string>{{1346,284},{445,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ShiBai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,169}</string>
                <key>spriteSourceSize</key>
                <string>{450,169}</string>
                <key>textureRect</key>
                <string>{{1392,113},{450,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ShiBaiXinXiDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,376}</string>
                <key>spriteSourceSize</key>
                <string>{416,376}</string>
                <key>textureRect</key>
                <string>{{0,547},{416,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ShiBai__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,174}</string>
                <key>spriteSourceSize</key>
                <string>{450,174}</string>
                <key>textureRect</key>
                <string>{{0,284},{450,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_TiShiZiDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,46}</string>
                <key>spriteSourceSize</key>
                <string>{450,46}</string>
                <key>textureRect</key>
                <string>{{634,0},{450,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_WIN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,164}</string>
                <key>spriteSourceSize</key>
                <string>{120,164}</string>
                <key>textureRect</key>
                <string>{{1270,113},{120,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_WoFang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,675}</string>
                <key>spriteSourceSize</key>
                <string>{548,675}</string>
                <key>textureRect</key>
                <string>{{1381,547},{548,675}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_XinXiDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,376}</string>
                <key>spriteSourceSize</key>
                <string>{416,376}</string>
                <key>textureRect</key>
                <string>{{418,547},{416,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,21}</string>
                <key>spriteSourceSize</key>
                <string>{12,21}</string>
                <key>textureRect</key>
                <string>{{345,0},{12,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xingxing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,45}</string>
                <key>spriteSourceSize</key>
                <string>{43,45}</string>
                <key>textureRect</key>
                <string>{{589,0},{43,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameSettle.png</string>
            <key>size</key>
            <string>{1929,1222}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:adde2a5b17e2c72c16ac9fc9b046916d:36d33b0c748193990dd2160ef38563d4:569749afe901dec72898933b5d4234ba$</string>
            <key>textureFileName</key>
            <string>gameSettle.png</string>
        </dict>
    </dict>
</plist>
