<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{546,2},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{688,2},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{830,2},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{2,144},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{144,144},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_LanSe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,81}</string>
                <key>spriteSourceSize</key>
                <string>{278,81}</string>
                <key>textureRect</key>
                <string>{{266,2},{278,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_Dian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,6}</string>
                <key>spriteSourceSize</key>
                <string>{6,6}</string>
                <key>textureRect</key>
                <string>{{2,2},{6,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_HeiYing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{561,694}</string>
                <key>spriteSourceSize</key>
                <string>{561,694}</string>
                <key>textureRect</key>
                <string>{{2,952},{561,694}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_HongDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{675,299}</string>
                <key>spriteSourceSize</key>
                <string>{675,299}</string>
                <key>textureRect</key>
                <string>{{2,347},{675,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_LanDi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{668,302}</string>
                <key>spriteSourceSize</key>
                <string>{668,302}</string>
                <key>textureRect</key>
                <string>{{2,648},{668,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_PiPeiZhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,46}</string>
                <key>spriteSourceSize</key>
                <string>{130,46}</string>
                <key>textureRect</key>
                <string>{{134,2},{130,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_PiPeiZhong__w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,42}</string>
                <key>spriteSourceSize</key>
                <string>{122,42}</string>
                <key>textureRect</key>
                <string>{{10,2},{122,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_VS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,302}</string>
                <key>spriteSourceSize</key>
                <string>{331,302}</string>
                <key>textureRect</key>
                <string>{{672,648},{331,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_huohua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{545,201}</string>
                <key>spriteSourceSize</key>
                <string>{545,201}</string>
                <key>textureRect</key>
                <string>{{286,144},{545,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameMatch.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:655cf57096f232b9b7030c579a617fc6:8f0d88b30fc6ece7e94e2ef9846ee4b0:2ee83d7e52285a62ee63950879709124$</string>
            <key>textureFileName</key>
            <string>gameMatch.png</string>
        </dict>
    </dict>
</plist>
