<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xb_dl_anniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{343,87}</string>
                <key>spriteSourceSize</key>
                <string>{343,87}</string>
                <key>textureRect</key>
                <string>{{121,1},{343,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_dl_jz1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,29}</string>
                <key>spriteSourceSize</key>
                <string>{32,29}</string>
                <key>textureRect</key>
                <string>{{27,1},{32,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_dl_jz2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,29}</string>
                <key>textureRect</key>
                <string>{{1,1},{24,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_dl_srkuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,47}</string>
                <key>spriteSourceSize</key>
                <string>{58,47}</string>
                <key>textureRect</key>
                <string>{{61,1},{58,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_dl_ztu.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,1136}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{1,90},{640,1136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atlas_Loading.png</string>
            <key>size</key>
            <string>{642,1227}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a09998caa7a2898e3d5f58544baac41:61a61844b24a48f22641ce93e7071d37:87e15b4030b73b70cf9c9d54df192676$</string>
            <key>textureFileName</key>
            <string>atlas_Loading.png</string>
        </dict>
    </dict>
</plist>
