<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daguai311.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,189}</string>
                <key>spriteSourceSize</key>
                <string>{179,189}</string>
                <key>textureRect</key>
                <string>{{183,584},{179,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daguai312.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,189}</string>
                <key>spriteSourceSize</key>
                <string>{179,189}</string>
                <key>textureRect</key>
                <string>{{1,594},{179,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daguai313.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,189}</string>
                <key>spriteSourceSize</key>
                <string>{179,189}</string>
                <key>textureRect</key>
                <string>{{182,775},{179,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daguai314.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,189}</string>
                <key>spriteSourceSize</key>
                <string>{180,189}</string>
                <key>textureRect</key>
                <string>{{184,202},{180,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daguai315.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,189}</string>
                <key>spriteSourceSize</key>
                <string>{179,189}</string>
                <key>textureRect</key>
                <string>{{1,785},{179,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daguai400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,199}</string>
                <key>spriteSourceSize</key>
                <string>{181,199}</string>
                <key>textureRect</key>
                <string>{{1,1},{181,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daguai401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,199}</string>
                <key>spriteSourceSize</key>
                <string>{181,199}</string>
                <key>textureRect</key>
                <string>{{184,1},{181,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daguai404.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,199}</string>
                <key>spriteSourceSize</key>
                <string>{181,199}</string>
                <key>textureRect</key>
                <string>{{1,202},{181,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_fp_g300.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{367,1},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_fp_g301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{367,142},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_fp_g302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{366,283},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_fp_g303.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{366,424},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_fp_g304.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{366,565},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_fp_g305.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{364,706},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_fp_g306.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{363,847},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_fp_g307.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{363,988},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_fp_g311.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{363,1129},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_fp_g312.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{363,1270},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_fp_g313.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{363,1411},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_fp_g314.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{346,1552},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_fp_g315.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{165,1683},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_fp_g401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,142}</string>
                <key>spriteSourceSize</key>
                <string>{162,142}</string>
                <key>textureRect</key>
                <string>{{182,1539},{162,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_fp_g402.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,142}</string>
                <key>spriteSourceSize</key>
                <string>{162,142}</string>
                <key>textureRect</key>
                <string>{{182,1539},{162,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_fp_g403.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,142}</string>
                <key>spriteSourceSize</key>
                <string>{162,142}</string>
                <key>textureRect</key>
                <string>{{182,1539},{162,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xb_fp_g404.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,142}</string>
                <key>spriteSourceSize</key>
                <string>{162,142}</string>
                <key>textureRect</key>
                <string>{{1,1549},{162,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoguai300.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,189}</string>
                <key>spriteSourceSize</key>
                <string>{179,189}</string>
                <key>textureRect</key>
                <string>{{182,966},{179,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoguai301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,189}</string>
                <key>spriteSourceSize</key>
                <string>{179,189}</string>
                <key>textureRect</key>
                <string>{{1,976},{179,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoguai302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,189}</string>
                <key>spriteSourceSize</key>
                <string>{179,189}</string>
                <key>textureRect</key>
                <string>{{182,1157},{179,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoguai303.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,189}</string>
                <key>spriteSourceSize</key>
                <string>{179,189}</string>
                <key>textureRect</key>
                <string>{{1,1167},{179,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoguai304.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,189}</string>
                <key>spriteSourceSize</key>
                <string>{180,189}</string>
                <key>textureRect</key>
                <string>{{184,393},{180,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoguai305.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,189}</string>
                <key>spriteSourceSize</key>
                <string>{179,189}</string>
                <key>textureRect</key>
                <string>{{182,1348},{179,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoguai306.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,189}</string>
                <key>spriteSourceSize</key>
                <string>{180,189}</string>
                <key>textureRect</key>
                <string>{{1,403},{180,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoguai307.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,189}</string>
                <key>spriteSourceSize</key>
                <string>{179,189}</string>
                <key>textureRect</key>
                <string>{{1,1358},{179,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atlas_Germ.png</string>
            <key>size</key>
            <string>{507,1823}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eeccb4652803404503ebd55b746f5cc7:feabd289c595d23b5e4544f7fd4bd788:6428330d4a097ce9c20a207de27aad11$</string>
            <key>textureFileName</key>
            <string>atlas_Germ.png</string>
        </dict>
    </dict>
</plist>
