<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,62}</string>
                <key>spriteSourceSize</key>
                <string>{960,62}</string>
                <key>textureRect</key>
                <string>{{0,0},{960,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,1000}</string>
                <key>spriteSourceSize</key>
                <string>{960,1000}</string>
                <key>textureRect</key>
                <string>{{0,64},{960,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,386}</string>
                <key>spriteSourceSize</key>
                <string>{960,386}</string>
                <key>textureRect</key>
                <string>{{0,1066},{960,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,386}</string>
                <key>spriteSourceSize</key>
                <string>{960,386}</string>
                <key>textureRect</key>
                <string>{{0,1454},{960,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atlas_Scene_1001.png</string>
            <key>size</key>
            <string>{960,1840}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86f6cdcda8871b7b96149d1c8b0037b4:670c56eb1052049a5617ed80a9d4dca9:c223ebac3054565b5592c2e264944ef2$</string>
            <key>textureFileName</key>
            <string>atlas_Scene_1001.png</string>
        </dict>
    </dict>
</plist>
