<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100200.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,67}</string>
                <key>spriteSourceSize</key>
                <string>{960,67}</string>
                <key>textureRect</key>
                <string>{{0,0},{960,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,1000}</string>
                <key>spriteSourceSize</key>
                <string>{960,1000}</string>
                <key>textureRect</key>
                <string>{{0,69},{960,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,386}</string>
                <key>spriteSourceSize</key>
                <string>{960,386}</string>
                <key>textureRect</key>
                <string>{{0,1071},{960,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,386}</string>
                <key>spriteSourceSize</key>
                <string>{960,386}</string>
                <key>textureRect</key>
                <string>{{0,1459},{960,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atlas_Scene_1002.png</string>
            <key>size</key>
            <string>{960,1845}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:851e5f681067986a7616e8a9250efdbc:57a22ee2ada77f3276ccc455e31bfc5e:b464044c3546b76fca9b7f5df4977f3c$</string>
            <key>textureFileName</key>
            <string>atlas_Scene_1002.png</string>
        </dict>
    </dict>
</plist>
