<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100300.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,122}</string>
                <key>spriteSourceSize</key>
                <string>{960,122}</string>
                <key>textureRect</key>
                <string>{{0,0},{960,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,1000}</string>
                <key>spriteSourceSize</key>
                <string>{960,1000}</string>
                <key>textureRect</key>
                <string>{{0,124},{960,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,386}</string>
                <key>spriteSourceSize</key>
                <string>{960,386}</string>
                <key>textureRect</key>
                <string>{{0,1126},{960,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100303.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,386}</string>
                <key>spriteSourceSize</key>
                <string>{960,386}</string>
                <key>textureRect</key>
                <string>{{0,1514},{960,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100304.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{542,115}</string>
                <key>spriteSourceSize</key>
                <string>{542,115}</string>
                <key>textureRect</key>
                <string>{{0,1902},{542,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atlas_Scene_1003.png</string>
            <key>size</key>
            <string>{960,2017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ea3e2825f5c6345c7a1af31c00c0472:d7e4ec35a94da12da9a41ed7b071b115:fdefcf52c19690991501a2371d523c89$</string>
            <key>textureFileName</key>
            <string>atlas_Scene_1003.png</string>
        </dict>
    </dict>
</plist>
