<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>freeKick1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{142,142}</string>
                <key>textureRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>freeKick2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,174}</string>
                <key>spriteSourceSize</key>
                <string>{174,174}</string>
                <key>textureRect</key>
                <string>{{144,0},{174,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>freeKick3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,203}</string>
                <key>spriteSourceSize</key>
                <string>{204,203}</string>
                <key>textureRect</key>
                <string>{{320,0},{204,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fullScene.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1127,578}</string>
                <key>spriteSourceSize</key>
                <string>{1127,578}</string>
                <key>textureRect</key>
                <string>{{526,0},{1127,578}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halfScene.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,576}</string>
                <key>spriteSourceSize</key>
                <string>{263,576}</string>
                <key>textureRect</key>
                <string>{{1655,0},{263,576}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FreeKick.png</string>
            <key>size</key>
            <string>{1918,578}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:659df13d5e268f7be736188e42ccbaf8:b37446a421514d130081bc0273071b4b:4ece7b210f6ea23ed2a384953e61408a$</string>
            <key>textureFileName</key>
            <string>FreeKick.png</string>
        </dict>
    </dict>
</plist>
