<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_BangDingShouJi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,901},{216,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,58}}</string>
                <key>sourceSize</key>
                <string>{216,58}</string>
            </dict>
            <key>btn_BangDingShouJi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,446},{220,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,62}}</string>
                <key>sourceSize</key>
                <string>{220,62}</string>
            </dict>
            <key>btn_BangDingShouJi02_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,224},{220,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,62}}</string>
                <key>sourceSize</key>
                <string>{220,62}</string>
            </dict>
            <key>btn_DiZhiBianJi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,901},{216,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,58}}</string>
                <key>sourceSize</key>
                <string>{216,58}</string>
            </dict>
            <key>btn_DiZhiBianJi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,2},{220,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,62}}</string>
                <key>sourceSize</key>
                <string>{220,62}</string>
            </dict>
            <key>btn_GuanBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,843},{73,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,72}}</string>
                <key>sourceSize</key>
                <string>{73,72}</string>
            </dict>
            <key>btn_HuoQuYanZhengMa.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,961},{161,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,59}}</string>
                <key>sourceSize</key>
                <string>{161,59}</string>
            </dict>
            <key>code.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,917},{128,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,25}}</string>
                <key>sourceSize</key>
                <string>{128,25}</string>
            </dict>
            <key>img_GeRenXinXiDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{839,577}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{839,577}}</string>
                <key>sourceSize</key>
                <string>{839,577}</string>
            </dict>
            <key>img_QiuGanWeiHu.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,668},{187,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,51}}</string>
                <key>sourceSize</key>
                <string>{187,51}</string>
            </dict>
            <key>img_QiuGanWeiHu_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,857},{161,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,48}}</string>
                <key>sourceSize</key>
                <string>{161,48}</string>
            </dict>
            <key>img_ShuRuKuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,843},{476,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,56}}</string>
                <key>sourceSize</key>
                <string>{476,56}</string>
            </dict>
            <key>queding.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,961},{167,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,61}}</string>
                <key>sourceSize</key>
                <string>{167,61}</string>
            </dict>
            <key>queding_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,961},{167,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,61}}</string>
                <key>sourceSize</key>
                <string>{167,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>binderPhone.png</string>
            <key>size</key>
            <string>{645,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ebee4ab0eb76d2ef37137a26466e332$</string>
            <key>textureFileName</key>
            <string>binderPhone.png</string>
        </dict>
    </dict>
</plist>
